<div class="scroll-nav-container hidden-sm hidden-xs" style="height: 145px;">
    <div class="scroll-nav-item-container" data-scrollspy-listen="p1">
        <div class="scroll-nav-item"></div>
    </div>
    <div class="scroll-nav-item-container" data-scrollspy-listen="p3">
        <div class="scroll-nav-item"></div>
    </div>
    <div class="scroll-nav-item-container" data-scrollspy-listen="p4">
        <div class="scroll-nav-item"></div>
    </div>
    <div class="scroll-nav-item-container" data-scrollspy-listen="p5">
        <div class="scroll-nav-item"></div>
    </div>
</div>

<!-- /.container -->
<div class="jumbotron about" id="p1" data-scrollspy-broadcast>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 style="font-size:60px; ">Why, how and where.</h2>

                <p style="  padding-top:20px; font-size:25px;font-family:'BrandonText-Thin_0'; font-weight:900;">
                    Learn more about why and how we created Paktor, see our
                    core values and where is our biggest target reach.</p>

                <div class="see-more" style="margin-bottom: 10px;">
                    <img src="img/scroll.png" alt="" style="height: 26px;margin-right: 10px;"/>
                    scroll down to see more
                </div>
            </div>
        </div>
    </div>
</div>
<div style="background: #f0f1f7;" class="" data-scrollspy-broadcast id="p2">
    <h4 style="font-family:Brandon Text Medium;color:#464963; text-align: center; margin:0px;padding-top:20px; ">AS SEEN
        ON</h4>
    <uib-carousel>
        <uib-slide>
            <div style="padding-top:50px; background-color:#f0f1f7;padding-bottom: 50px;">
                <img src="img/v1.png" class="img-responsive" alt=""/>
            </div>
        </uib-slide>
        <uib-slide>
            <div style="padding-top:50px; background-color:#f0f1f7;padding-bottom: 50px;">
                <img src="img/v2.png" class="img-responsive" alt=""/>
            </div>
        </uib-slide>
        <uib-slide>
            <div style="padding-top:50px; background-color:#f0f1f7;padding-bottom: 50px;">
                <img src="img/v3.png" class="img-responsive" alt=""/>
            </div>
        </uib-slide>
    </uib-carousel>
</div>
<div class="jumbotron why-paktor2" id="p3" style="background-color:white;" data-scrollspy-broadcast>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center"
                    style=" color:#403f43; font-size:60px;font-style: italic;font-weight: bold;padding: 35px 0 50px 0;">
                    Why Paktor?</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7"><h2 style=" padding-top :10px; color:#403f43;">Paktor was founded in July 2013 with
                the mission of connecting people in Asia through technology-enabled platforms.<br><br>
                With one of the largest user bases in the region of over 5 million, Paktor has facilitated 5 billion
                profile reviews to date.<br><br>
                Leveraging Paktor’ s carefully crafted proprietary technology and first-mover advantage in the region,
                Paktor’ s flagship app has become the most successful social networking app for singles in Southeast
                Asia and Taiwan. </h2>
            </div>
            <div class="col-md-5 why-paktor">
                <h2 style=" color:#403f43;font-size: 25px; text-align: center; ">Anonymity</h2>

                <p style=" color:#403f43;font-family:Brandon Text Medium;font-size:17px; font-weight: bold;">Paktor
                    works on a double blind concept.Only if two parties like each other will we then make an
                    introduction. When you like someone, the person will not know until he/she likes you back. This
                    removes any tension caused by "liking" someone for fear of rejection.
                    We take your privacy very seriously and do not share anything without your consent. </p>

                <h2 style=" color:#403f43;font-size: 25px; text-align: center;">Locality</h2>

                <p style=" color:#403f43;font-family:Brandon Text Medium;font-size:17px; font-weight: bold;">Paktor is a
                    network of interesting people around you. We think that's where all the fun happens.</p>

                <h2 style=" color:#403f43;font-size: 25px; text-align: center;">Usability</h2>

                <p style=" color:#403f43;font-family:Brandon Text Medium;font-size:17px; font-weight: bold;">Paktor is
                    easy and fun to use. Our primary focus is to make finding a date simple and fuss-free. Download,
                    sign-up and you're ready to go in less than 30 seconds. No need to spend hours crafting a profile to
                    encompass who you are as a person!</p>
            </div>
        </div>

    </div>
</div>
</div>

<div class="jumbotron" id="p4" data-scrollspy-broadcast style="background-color: #f0f1f7;">
    <div class="container" style="background-color:#f0f1f7;padding-bottom: 60px;">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center"
                    style=" color:#403f43; font-size:60px;font-style: italic;font-weight: bold;padding: 35px 0 50px 0;">
                    In the news.</h1>
            </div>
        </div>
        <div class="row">
            <!--Main Article-->
            <div class="col-md-7"><p style="color:#403f43;font-family:Brandon Text Medium;">SINGAPORE, 14 July 2015</p>
                <img src="img/paktor-logo.png" class="img-responsive">

                <h2 style="color:#403f43;">Paktor set to be the biggest social dating brand in Asia with $10 million new
                    funding </h2>

                <p style="font-size: 20px; color:#403f43;font-family:Brandon Text Medium;">Paktor has doubled its user
                    base across Asia to over five million in six months.<br>
                    Investors in the Series-B funding include Majuven, Convergence Ventures and returning investor
                    Vertex Venture Holdings.<br>
                    Usage of the mobile app has skyrocketed in the last six months to over half a billion swipes and 12
                    million matches a month
                </p>
                <a href="http://www.channelnewsasia.com/news/business/singapore/dating-app-paktor/1981750.html"
                   style="color:#403f43;font-family:Brandon Text; font-weight:400; ">
            <span
                    class="glyphicon glyphicon-arrow-right" aria-hidden="true"
                    style="color:#403f43; padding-top: 20px;"></span> READ MORE</a>
                <!--No2 Article-->
            </div>
            <div class="col-md-5" style="padding-left: 40px;"><p
                    style="color:#403f43;font-family:Brandon Text Medium;font-size: 17px;">22 March 2015 CNN Money</p>

                <h3 style="color:#403f43; font-family: Aver; font-style: italic; font-weight:bold;">4 ways Asian dating
                    apps are anti-Tinder</h3>
                <br>

                <p style="font-size: 17px;color:#403f43;font-family:Brandon Text Medium;">Spotted a cutie in Singapore,
                    but tongue-tied? No problem -- just grab your phone, <br>
                    and download one of the many new dating apps for singles in Asia.</p>
                <a href="http://money.cnn.com/2015/03/22/technology/asia-dating-apps-tinder/"
                   style="color:#403f43;font-family:Brandon Text; font-weight:400; ">
            <span
                    class="glyphicon glyphicon-arrow-right" aria-hidden="true"
                    style="color:#403f43; padding-top: 20px;"></span> READ MORE</a>

                <hr style="color:gray">
                <!--No3 Article-->
                <p style="color:#403f43; font-family:Brandon Text Medium ;padding-top: 60px;font-size: 17px;">24 March
                    2015 Bloomberg</p>

                <h3 style="color:#403f43; font-family: Aver; font-style: italic;font-weight:bold; ">Finding the Perfect
                    Match on Mobile</h3>

                <p style="font-size: 17px;color:#403f43;font-family:Brandon Text Medium;">Paktor Co-Founder and CEO
                    Joseph Phua discusses his mobile dating app that helps people<br>
                    find the right match, who's using the application and where he sees opportunity with<br>
                    Bloomberg's Rishaad Salamat on "Trending Business."</p>

                <a href="http://www.bloomberg.com/news/videos/2015-03-24/finding-the-perfect-match-on-mobile"
                   style="color:#403f43;font-family:Brandon Text; font-weight:400; ">
            <span
                    class="glyphicon glyphicon-arrow-right" aria-hidden="true"
                    style="color:#403f43; padding-top: 20px;"></span> READ MORE</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="padding-bottom: 40px;">
                <a href="#" style="font-family:'BrandonText-Thin_0'; font-weight:900;">
                    <button type="button" class="btn btn-default"
                            style="margin-top: 40px;width: 100%;padding: 12px;background-color: transparent;font-size: 18px;border: 2px solid #41425a;font-family: BrandonText-Bold;">
                        SHOW MORE
                    </button>
                </a>
            </div>
        </div>
        <!--No4 Article-->
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10" style="padding-top: 60px; padding-bottom:40px;">
                <p style="font-family:Brandon Text Medium;font-size:15px; color:#403f43">18 November 2014 Techcrunch</p>
                <img src="">

                <h2 style="color:#403f43;">With $5M In Funding, Tinder-Like Paktor Wants To Get Southeast Asia Using
                    Dating Apps</h2>

                <p style="font-family:Brandon Text Medium;font-size:20px; padding-top: 20px;color:#403f43;">
                    When it comes to mobile dating apps, Tinder defines the market. The startup, which sees more<br>
                    than 600 million swipes per day from users, pretty much owns its space in North America, but <br>
                    things are different in other parts of the world. Paktor, a Singapore-based company, believes it<br>
                    has the answer for Southeast Asia, and it has just announced a $3 million-plus funding round to<br>
                    build out its vision for mobile dating.........
                </p>
                <a href="http://techcrunch.com/2014/11/17/with-5m-in-funding-tinder-like-paktor-wants-to-get-southeast-asia-using-dating-apps/"
                   style="color:#403f43;font-family:Brandon Text; font-weight:400; ">
				<span
                        class="glyphicon glyphicon-arrow-right" aria-hidden="true"
                        style="color:#403f43; padding-top: 20px;"></span> READ MORE</a>
            </div>
            <div class="col-md-1"></div>
        </div>
        <!--No5 Article-->
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10" style="padding-top: 60px; padding-bottom:40px;">
                <p style="font-family:Brandon Text Medium;font-size:15px; color:#403f43">18 November 2014 Tech in
                    Asia </p>
                <img src="">

                <h2 style="color:#403f43;">Paktor winning in Southeast Asia, gets funding from Temasek subsidiary
                    Vertex</h2>

                <p style="font-family:Brandon Text Medium;font-size:20px; padding-top: 20px;color:#403f43;">
                    Enough with the flirting. Vertex Venture, a venture capital subsidiary of Singapore sovereign<br>
                    wealth fund Temasek Holdings, has invested in Paktor, a Singapore-based dating app with over 1.5
                    million registered users.
                </p>
                <a href="https://www.techinasia.com/temasek-holdings-subsidiary-vertex-invests-dating-app-paktor/"
                   style="color:#403f43;font-family:Brandon Text; font-weight:400; ">
				<span
                        class="glyphicon glyphicon-arrow-right" aria-hidden="true"
                        style="color:#403f43; padding-top: 20px;"></span> READ MORE</a>
            </div>
            <div class="col-md-1"></div>
        </div>
        <!--No6 Article-->
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10" style="padding-top: 60px; padding-bottom:40px;">
                <p style="font-family:Brandon Text Medium;font-size:15px; color:#403f43">17 July 2015 South China
                    Morning Post</p>
                <img src="">

                <h2 style="color:#403f43;">Hijabs not hookups: SE Asian dating apps woo investors with local
                    expertise</h2>

                <p style="font-family:Brandon Text Medium;font-size:20px; padding-top: 20px;color:#403f43;">
                    PManila office worker Catherine Anunciacion, 28, wanted new friends so she joined Peekawoo,<br>
                    a dating app made for women that emphasises fun and companionship - and nothing more....
                </p>
                <a href="http://www.scmp.com/tech/apps-gaming/article/1840773/hijabs-not-hookups-se-asia-dating-apps-woo-investors-local"
                   style="color:#403f43;font-family:Brandon Text; font-weight:400; ">
				<span
                        class="glyphicon glyphicon-arrow-right" aria-hidden="true"
                        style="color:#403f43; padding-top: 20px;"></span> READ MORE</a>
            </div>
            <div class="col-md-1"></div>
        </div>
        <!--No7 Article-->
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10" style="padding-top: 60px; padding-bottom:40px;">
                <p style="font-family:Brandon Text Medium;font-size:15px; color:#403f43">22 May 2015 High Net-Worth</p>
                <img src="">

                <h2 style="color:#403f43;">Joseph Phua: Out of Love to Top of Dating Game (Co-Founder & CEO,Paktor)</h2>

                <p style="font-family:Brandon Text Medium;font-size:20px; padding-top: 20px;color:#403f43;">
                    Does life mirror swiping?” I ask Joseph Phua. “Yes, people make a decision about you within 5seconds
                    of meeting,”......
                </p>
                <a href="http://www.hnworth.com/article/2015/05/21/joseph-phua-out-of-love-to-top-of-dating-game-co-founder-ceo-paktor/"
                   style="color:#403f43;font-family:Brandon Text; font-weight:400; ">
				<span
                        class="glyphicon glyphicon-arrow-right" aria-hidden="true"
                        style="color:#403f43; padding-top: 20px;"></span> READ MORE</a>
            </div>
            <div class="col-md-1"></div>

        </div>
        <!--No8 Article-->
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10" style="padding-top: 60px; padding-bottom:40px;">
                <p style="font-family:Brandon Text Medium;font-size:15px; color:#403f43">5 July 2015 The Straits
                    Times</p>
                <img src="">

                <h2 style="color:#403f43;">Win-win way to get rich: Help others make money</h2>

                <p style="font-family:Brandon Text Medium;font-size:20px; padding-top: 20px;color:#403f43;">
                    Passive investing holds no appeal for entrepreneur Joseph Phua, who is very hands-on when it<br>
                    comes to managing his money.........
                </p>
                <a href="http://www.straitstimes.com/business/invest/win-win-way-to-get-rich-help-others-make-money"
                   style="color:#403f43;font-family:Brandon Text; font-weight:400; ">
				<span
                        class="glyphicon glyphicon-arrow-right" aria-hidden="true"
                        style="color:#403f43; padding-top: 20px;"></span> READ MORE</a>
            </div>
            <div class="col-md-1"></div>
        </div>

        <!--No9 Article-->
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10" style="padding-top: 60px; padding-bottom:40px;">
                <p style="font-family:Brandon Text Medium;font-size:15px; color:#403f43">29 September 2015 Mashable</p>
                <img src="">

                <h2 style="color:#403f43;">Survey finds most Singaporean women don't want to date bald men</h2>

                <p style="font-family:Brandon Text Medium;font-size:20px; padding-top: 20px;color:#403f43;">
                    Paktor, a local dating app, just released results of a survey done across 2,845 of its (presumably
                    heterosexual) users.<br>
                    The users were between 18 and 50 years of age, and there was a nearly equal split between men and
                    women.
                </p>
                <a href="http://mashable.com/2015/09/29/singapore-women-dating/#AzqTVRtS1gqr"
                   style="color:#403f43;font-family:Brandon Text; font-weight:400; ">
				<span
                        class="glyphicon glyphicon-arrow-right" aria-hidden="true"
                        style="color:#403f43; padding-top: 20px;"></span> READ MORE</a>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
<div class="jumbotron" data-scrollspy-broadcast id="p5" style="background: #403f43;">
    <div class="text-center">
        <h2 style="font-size: 45px;font-style: italic;padding: 0 0 30px; color: #6c6f7d;">Where we mostly are.</h2>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6"><img src="img/BI3.png" style="width: 100%;" alt=""/></div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>