<div class="scroll-nav-container" style="height: 145px;">
    <div class="scroll-nav-item-container" data-scrollspy-listen="p1">
        <div class="scroll-nav-item"></div>
    </div>
    <div class="scroll-nav-item-container" data-scrollspy-listen="p3">
        <div class="scroll-nav-item"></div>
    </div>
    <div class="scroll-nav-item-container" data-scrollspy-listen="p4">
        <div class="scroll-nav-item"></div>
    </div>
    <div class="scroll-nav-item-container" data-scrollspy-listen="p5">
        <div class="scroll-nav-item"></div>
    </div>
</div>

<!-- /.container -->
<div class="jumbotron" id="p1" data-scrollspy-broadcast>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1 style="font-size:60px; padding-top:150px;" >Why, how and where.</h1>
                <p style="  padding-top:20px; font-size:25px;font-family:'BrandonText-Thin_0'; font-weight:900;">
                    Learn more about why and how we created Paktor, see our
                    core values and where is our biggest target reach.</p>
                <div>
                    <img src="img/scroll.png" alt="" style="height: 26px;margin-right: 10px;"/>
                    scroll down to see more
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row" style="height:250px;">
            <div class="col-md-12"></div>
        </div>
    </div>
</div>
<div style="background: #f0f1f7;" class="hidden-xs" data-scrollspy-broadcast id="p2">
<uib-carousel>
    <uib-slide>
        <div  style="padding-top:50px; background-color:#f0f1f7;">
            <img src="img/v1.png" alt=""/>
        </div>
    </uib-slide>
    <uib-slide>
        <div  style="padding-top:50px; background-color:#f0f1f7;">
            <img src="img/v2.png" alt=""/>
        </div>
    </uib-slide>
	<uib-slide>
		<div  style="padding-top:50px; background-color:#f0f1f7;">
			<img src="img/v3.png" alt=""/>
        </div>
    </uib-slide>
	<uib-slide>
		<div  style="padding-top:50px; background-color:#f0f1f7;">
			<img src="img/v4.png" alt=""/>
		</div>
    </uib-slide>
</uib-carousel>
</div>
<div class="jumbotron" id="p3" style="background-color:white;padding-bottom: 150px;" data-scrollspy-broadcast>
    <div class="container" >
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center" style=" color:#403f43; font-size:60px;font-style: italic;font-weight: bold;padding: 35px 0 50px 0;">Why Paktor?</h1>
			</div>
		</div>
                <div class="row">
				<div class="col-md-7"><h2 style=" padding-top :10px; color:#403f43;">Paktor was founded in July 2013 with the mission of connecting people in Asia through technology-enabled platforms.<br><br>
				With one of the largest user bases in the region of over 5 million, Paktor has facilitated 5 billion profile reviews to date.<br><br>
				Leveraging Paktor’ s carefully crafted proprietary technology and first-mover advantage in the region, Paktor’ s flagship app has become the most successful social networking app for singles in Southeast Asia and Taiwan. </h2>
				</div>
				<div class="col-md-5" style ="padding-left: 40px;">
				<h2 style=" color:#403f43;font-size: 25px; text-align: center; " >Anonymity</h2>
				<p style=" color:#403f43;font-family:Brandon Text Medium;font-size:17px; font-weight: bold;">Paktor works on a double blind concept.Only if two parties like each other will we then make an introduction. When you like someone, the person will not know until he/she likes you back. This removes any tension caused by "liking" someone for fear of rejection.
				We take your privacy very seriously and do not share anything without your consent. </p>
				<h2 style=" color:#403f43;font-size: 25px; text-align: center;">Locality</h2>
				<p style=" color:#403f43;font-family:Brandon Text Medium;font-size:17px; font-weight: bold;">Paktor is a network of interesting people around you. We think that's where all the fun happens.</p>
				<h2 style=" color:#403f43;font-size: 25px; text-align: center;">Usability</h2>
				<p style=" color:#403f43;font-family:Brandon Text Medium;font-size:17px; font-weight: bold;">Paktor is easy and fun to use. Our primary focus is to make finding a date simple and fuss-free. Download, sign-up and you're ready to go in less than 30 seconds. No need to spend hours crafting a profile to encompass who you are as a person!</p>
				</div>
				</div>
            
        </div>
    </div>
</div>

<div class="jumbotron" id="p4" data-scrollspy-broadcast style="background-color: #f0f1f7;">
    <div class="container" style="background-color:#f0f1f7;padding-bottom: 60px;">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center" style=" color:#403f43; font-size:60px;font-style: italic;font-weight: bold;padding: 35px 0 50px 0;">In the news.</h1>
            </div>
		</div>
		<div class="row">
			 <div class="col-md-7"><p style="color:#403f43;font-family:Brandon Text Medium;">SINGAPORE, 14 July 2015</p>
                    <img src="img/paktor-logo.png">
                    <h2 style="color:#403f43;">Paktor set to be the biggest social dating brand in Asia with $10 million new funding </h2>
                    <p style="font-size: 20px; color:#403f43;font-family:Brandon Text Medium;">Paktor has doubled its user base across Asia to over five million in six months.<br>
					                                           Investors in the Series-B funding include Majuven, Convergence Ventures and returning investor Vertex Venture Holdings.<br>
														       Usage of the mobile app has skyrocketed in the last six months to over half a billion swipes and 12 million matches a month
															   </p>
					<a href="http://www.channelnewsasia.com/news/business/singapore/dating-app-paktor/1981750.html" style="color:#403f43;font-family:Brandon Text; font-weight:400; ">
            <span
            class="glyphicon glyphicon-arrow-right" aria-hidden="true" style="color:#403f43; padding-top: 20px;"></span> READ MORE</a>									   
            </div>
            <div class="col-md-5"style ="padding-left: 40px;"><p style="color:#403f43;font-family:Brandon Text Medium;font-size: 17px;">Jakarta, 8 April 2015 </p>
                    <h4 style="color:#403f43; font-family: Aver; font-style: italic; font-weight:bold;">Paktor Introduces Junior Liem as Indonesia’s Brand Ambassador.</h4>
                    <br>
                    <p style="font-size: 17px;color:#403f43;font-family:Brandon Text Medium;">In the first quarter in Indonesia, Paktor has attracted half a million users.Paktor to release its first television commercial (TVC) starring Junior Liem, which will be broadcasted in national TV Stations in Indonesia </p>
                    <a href="http://www.channelnewsasia.com/news/business/singapore/dating-app-paktor/1981750.html" style="color:#403f43;font-family:Brandon Text; font-weight:400; ">
            <span
            class="glyphicon glyphicon-arrow-right" aria-hidden="true" style="color:#403f43; padding-top: 20px;"></span> READ MORE</a>		
					<hr style="color:gray">
					
                    <p style="color:#403f43; font-family:Brandon Text Medium ;padding-top: 60px;font-size: 17px;">Jakarta, 13 February 2015</p>
                   <h4 style="color:#403f43; font-family: Aver; font-style: italic;font-weight:bold; ">Indonesians are still true to their norms when looking for new social media friends - based on a survey by Paktor</h4>
                    <p style="font-size: 17px;color:#403f43;font-family:Brandon Text Medium;">Growing activities at Paktor app usage in the lead up to Valentine’s Day.</p>
             </div>
		</div>
		
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-9" style="padding-bottom: 40px;">
				<a style="font-family:'BrandonText-Thin_0'; font-weight:900;letter-spacing：0.5px;">
				<button type="button" class="btn btn-default"
					style="margin-top: 40px;width: 100%;padding: 12px;background-color: transparent;font-size: 18px;font-weight: 400;border: 2px solid #41425a;">
				SHOW MORE
				</button>
				</a>
			<div class="col-md-2"></div>
		</div>
		</div>
		
		<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10" style="padding-top: 60px; padding-bottom:40px;">
					<p style="font-family:Brandon Text Medium;font-size:15px; color:#403f43">Singapore, 2 February 2015 </p>
				<img src="">
				<h2 style="color:#403f43;">Singaporeans look for love in the lead up to Valentine’s Day: Paktor Data</h2>
				<p style="font-family:Brandon Text Medium;font-size:20px; padding-top: 20px;color:#403f43;">
				Paktor, Southeast Asia’s leading dating app, released usage data to highlight
				<br>how Singaporeans use the app in the lead up to Valentine’s Day......
				</p>
				</div>
				<div class="col-md-1"></div>
		</div>
		<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10" style="padding-top: 60px; padding-bottom:40px;">
					<p style="font-family:Brandon Text Medium;font-size:15px; color:#403f43">Jakarta – 16, January, 2015 </p>
				<img src="">
				<h2 style="color:#403f43;">Nightlife parties - a new way to expand business networks for young Indonesian entrepreneurs</h2>
				<p style="font-family:Brandon Text Medium;font-size:20px; padding-top: 20px;color:#403f43;">
				Held in collaboration between Paktor, the latest meet-and-connect app to land in Jarkarta, <br>
				Fable at Fairgrounds and CRAVE event management, the party attracted from all across Jakarta, <br>
				nearly 1,000 party-goers that were just as entrepreneurial as they were fun, young and hip.<br>
				Owing a huge part of its success to the support of Asia’s fastest growing meet-and-connect app, Paktor.<br>
				Attendees need only show Paktor’s profile screen on their smartphones to gain free pass to join the party.......
				</p>
				</div>
				<div class="col-md-1"></div>
		</div>
		<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10" style="padding-top: 60px; padding-bottom:40px;">
					<p style="font-family:Brandon Text Medium;font-size:15px; color:#403f43">Jakarta, 16 January 2015 </p>
				<img src="">
				<h2 style="color:#403f43;">Introducing Paktor, a secured meet & connect app to find your soul mate</h2>
				<p style="font-family:Brandon Text Medium;font-size:20px; padding-top: 20px;color:#403f43;">
				Paktor, a Singapore-based social networking app, is coming to Indonesia! <br>
				Paktor is basically a user-friendly app that allows people with similar interests to connect with one another.<br>
				The most important component of the app is anonymity feature. Security and privacy concerns are the most serious matter for the app developer;<br>
				hence Paktor sets the mechanism to allow people to meet online only if they have “liked” one another.
				</p>
				</div>
				<div class="col-md-1"></div>
		</div>
		
		<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10" style="padding-top: 60px; padding-bottom:40px;">
					<p style="font-family:Brandon Text Medium;font-size:15px; color:#403f43">Jakarta, 16 January 2015 </p>
				<img src="">
				<h2 style="color:#403f43;">Meet & Connect App Paktor Brings Love to Indonesia</h2>
				<p style="font-family:Brandon Text Medium;font-size:20px; padding-top: 20px;color:#403f43;">
				Paktor, the latest secure way to meet your soulmate in Indonesia......
				</p>
				</div>
				<div class="col-md-1"></div>
		</div>
		
		<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10" style="padding-top: 60px; padding-bottom:40px;">
					<p style="font-family:Brandon Text Medium;font-size:15px; color:#403f43">Singapore, 18 December 2014  </p>
				<img src="">
				<h2 style="color:#403f43;">Singapore’s top dating app, Paktor introduces brand revamp and launches GaiGai (走街), bespoke dating service</h2>
				<p style="font-family:Brandon Text Medium;font-size:20px; padding-top: 20px;color:#403f43;">
				Paktor will unveil brand relaunch and introduce new app features including small group chat <br>
				and advanced filtering options to give users the ultimate experience.....
				</p>
				</div>
				<div class="col-md-1"></div>
		</div>
		
		
		<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10" style="padding-top: 60px; padding-bottom:40px;">
					<p style="font-family:Brandon Text Medium;font-size:15px; color:#403f43">Singapore, 18 November 2014 </p>
				<img src="">
				<h2 style="color:#403f43;">SE Asia’s Leading Dating App, Paktor Secures Largest Funding For A Dating App in the Region</h2>
				<p style="font-family:Brandon Text Medium;font-size:20px; padding-top: 20px;color:#403f43;">
				Singapore-based startup seals more than 40 million successful matches in SE Asia.<br>
				 Paktor’s registered userbase is 20 times larger than the nearest regional competitor
				</p>
				</div>
				<div class="col-md-1"></div>
		</div>
		
		
    </div>
</div>
<div class="jumbotron" data-scrollspy-broadcast id="p5" style="background: #403f43;">
    <div class="text-center">
        <h2  style="font-size: 45px;font-style: italic;padding: 0 0 30px; color: #6c6f7d;">Where we mostly are.</h2>
        <div class="row">
            <div class= "col-md-3"></div>
            <div class= "col-md-6"><img src="img/BI3.png" style="width: 100%;" alt=""/></div>
            <div class= "col-md-3"></div>
        </div>
    </div>
</div>