<!-- /.container -->
<div class="jumbotron" id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1 style="font-size:60px; padding-top:150px;" >Why, how and where.</h1>
                <p style="padding-top:20px; font-size:25px; font-family:Brandon Text Medium;">
                    Learn more about why and how we created Paktor, see our
                    core values and where is our biggest target reach.</p>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row" style="height:250px;">
            <div class="col-md-12"></div>
        </div>
    </div>
</div>
<div style="background: #dadbe1;" class="hidden-xs">

<uib-carousel>
    <uib-slide>
        <div class="say">
            <img src="img/v1.png" alt=""/>
        </div>
    </uib-slide>
    <uib-slide>
        <div class="say">
            <img src="img/v2.png" alt=""/>
        </div>
    </uib-slide>
	<uib-slide>
		<div class="say">
			<img src="img/v3.png" alt=""/>
        </div>
    </uib-slide>
	<uib-slide>
		<div class="say">
			<img src="img/v4.png" alt=""/>
		</div>
    </uib-slide>
</uib-carousel>
</div>
<div class="jumbotron" id="content2" style="background-color:white;">
    <div class="container" >
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center" style=" color:#403f43; font-size:60px;font-style: italic;font-weight: bold;padding: 35px 0 50px 0;">Why Paktor?</h1>
			</div>
		</div>
                <div class="row">
				<div class="col-md-7"><h2 style=" padding-top :10px; color:#403f43;">Paktor was founded in July 2013 with the mission of connecting people in Asia through technology-enabled platforms.<br><br>
				With one of the largest user bases in the region of over 5 million, Paktor has facilitated 5 billion profile reviews to date.<br><br>
				Leveraging Paktor’ s carefully crafted proprietary technology and first-mover advantage in the region, Paktor’ s flagship app has become the most successful social networking app for singles in Southeast Asia and Taiwan. </h2>
				</div>
				<div class="col-md-5" style ="padding-left: 40px;">
				<h2 style=" color:#403f43;font-size: 25px; text-align: center; " >Anonymity</h2>
				<p style=" color:#403f43;font-family:Brandon Text Medium;font-size:17px; font-weight: bold;">Paktor works on a double blind concept.Only if two parties like each other will we then make an introduction. When you like someone, the person will not know until he/she likes you back. This removes any tension caused by "liking" someone for fear of rejection.
				We take your privacy very seriously and do not share anything without your consent. </p>
				<h2 style=" color:#403f43;font-size: 25px; text-align: center;">Locality</h2>
				<p style=" color:#403f43;font-family:Brandon Text Medium;font-size:17px; font-weight: bold;">Paktor is a network of interesting people around you. We think that's where all the fun happens.</p>
				<h2 style=" color:#403f43;font-size: 25px; text-align: center;">Usability</h2>
				<p style=" color:#403f43;font-family:Brandon Text Medium;font-size:17px; font-weight: bold;">Paktor is easy and fun to use. Our primary focus is to make finding a date simple and fuss-free. Download, sign-up and you're ready to go in less than 30 seconds. No need to spend hours crafting a profile to encompass who you are as a person!</p>
				</div>
				</div>
            
        </div>
    </div>
</div>

<div class="jumbotron" id="content2" style="background-color: #f0f1f7;">
    <div class="container" style="background-color:#f0f1f7;padding-bottom: 60px;">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center" style="color:#403f43;font-size: 36px;font-style: italic;font-weight: bold;padding: 25px 0 20px 0;">In the news.</h1>
            </div>
		</div>
		<div class="row">
			 <div class="col-md-7"><p style="color:#403f43;font-family:Brandon Text Medium;">SINGAPORE, 14 July 2015</p>
                    <img src="img/paktor-logo.png">
                    <h2 style="color:#403f43;">Paktor set to be the biggest social dating brand in Asia with $10 million new funding </h2>
                    <p style="font-size: 20px; color:#403f43;font-family:Brandon Text Medium;">Paktor has doubled its user base across Asia to over five million in six months.<br>
					                                           Investors in the Series-B funding include Majuven, Convergence Ventures and returning investor Vertex Venture Holdings.<br>
														       Usage of the mobile app has skyrocketed in the last six months to over half a billion swipes and 12 million matches a month
															   </p>
            </div>
            <div class="col-md-5"style ="padding-left: 40px;"><p style="color:#403f43;font-family:Brandon Text Medium;">Jakarta, 8 April 2015 </p>
                    <h3 style="color:#403f43; font-family: Aver; font-style: italic; ">Paktor Introduces Junior Liem as Indonesia’s Brand Ambassador.</h3>
                    <br>
                    <p style="font-size: 17px;color:#403f43;font-family:Brandon Text Medium;">In the first quarter in Indonesia, Paktor has attracted half a million users.Paktor to release its first television commercial (TVC) starring Junior Liem, which will be broadcasted in national TV Stations in Indonesia </p>
                    
					<hr style="color:#403f43;">
					
                    <p style="color:#403f43; font-family:Brandon Text Medium ;padding-top: 60px;">Jakarta, 13 February 2015</p>
                   <h3 style="color:#403f43; font-family: Aver; font-style: italic; ">Indonesians are still true to their norms when looking for new social media friends - based on a survey by Paktor</h3>
                    <p style="font-size: 17px;color:#403f43;font-family:Brandon Text Medium;">Growing activities at Paktor app usage in the lead up to Valentine’s Day.</p>
             </div>
		</div>
    </div>
</div>
<div class="jumbotron" style="background: #403f43;">
    <div class="text-center">
        <h2  style="font-size: 60px;font-style: italic;padding: 45px; color: #6c6f7d;">Where we mostly are.</h2>
        <div class="row">
            <div class= "col-md-3"></div>
            <div class= "col-md-6"><img src="img/BI3.png" style="width: 100%;" alt=""/></div>
            <div class= "col-md-3"></div>
        </div>
    </div>
</div>