<div class="blog-bg">
	<div class="blog-content">
		<div class="container" style="padding-top:150px;padding-bottom:150px;">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<span style="font-family:Brandon Text Medium;">AUG 15, 2015</span>
					<h1 style="padding-top:20px; font-size:60px;"> Study Says - Get Your<br>
																	Date’s Attention:<br>
																	Focus On Eyes & Smile</h1>
					<p style="padding-top:20px;font-family:Brandon Text Medium; font-size:30px;"> A study based on the survey of 1,000 men shows that the first<br>
																								thing that draws the attention of a men of a woman is her eyes.</p>
					<a href="http://blog.gopaktor.com/category/singapore/#.VhzFq_mqpBe"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color:#403f43;"></span>READ MORE</a>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12"style ="padding-top: 60px; padding-bottom:60px;">
					<p style="font-family:Brandon Text Medium;font-size:15px; color:#403f43">May 26, 2015</p>
					<img src="img/blogimage.jpg">
					<h2 style="color:#403f43;">7 Scientifically-Proven Physical Attributes That Attract Men.<br> 
											You Don't Need To Be Born With Them</h2>
					<p style="font-family:Brandon Text Medium;font-size:15px; padding-top: 20px;color:#403f43;">
								Whether you have a beau you want to impress or want to up your chances at the dating scene, 
								<br>you'd want to read these scientists-backed tips!......
					</p>
					<a href="http://blog.gopaktor.com/category/singapore/#.VhzFq_mqpBe"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color:#403f43;"></span>READ MORE</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
				<a href="http://blog.gopaktor.com/category/singapore/#.VhzFq_mqpBe"><button type="button" class="btn btn-default" style="margin-top: 40px;width: 100%;padding: 12px;background-color: transparent;font-size: 18px;font-weight: 400;border: 2px solid #41425a;">SHOW MORE</button></a>
				</div>
			</div>
		</div>
	</div>
</div>
