<div class="blog-bg">
	<div class="blog-content">
		<div class="container" style="padding-top:150px;">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<span style="font-family:Brandon Text Medium;">AUG 15, 2015</span>
					<h1 style="padding-top:20px; font-size:60px;"> Study Says - Get Your<br>
																	Date’s Attention:<br>
																	Focus On Eyes & Smile</h1>
					<p style="padding-top:20px;font-family:Brandon Text Medium; font-size:30px;"> A study based on the survey of 1,000 men shows that the first<br>
																								thing that draws the attention of a men of a woman is her eyes.</p>
					<a href="http://blog.gopaktor.com/category/singapore/#.VhzFq_mqpBe"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color:#403f43;"></span>READ MORE</a>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
	</div>
</div>
