
<div class="jumbotron" id="content" style="padding-top:150px;">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1 style="font-size:60px;">Enhance your career.</h1>
                <p style="padding-top:20px; font-size:25px;font-family:'Brandon Text Medium';">
                    We're looking for driven and talented individulas to contribute to the continual improvement of the Paktor experience for our users. If your're intelligent and highly ambitious, we want to talk to you!
                </p>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <button type="button" class="btn btn-default btn1">
                    VIEW OUR JOBS
                </button>
            </div>
        </div>
    </div>
</div>