<div class="scroll-nav-container hidden-sm hidden-xs" style="height: 145px;">
    <div class="scroll-nav-item-container" data-scrollspy-listen="p1" ng-click="anchor.go('p1')">
        <div class="scroll-nav-item"></div>
    </div>
    <div class="scroll-nav-item-container" data-scrollspy-listen="p2" ng-click="anchor.go('p2')">
        <div class="scroll-nav-item"></div>
    </div>
    <div class="scroll-nav-item-container" data-scrollspy-listen="p3" ng-click="anchor.go('p3')">
        <div class="scroll-nav-item"></div>
    </div>
    <div class="scroll-nav-item-container" data-scrollspy-listen="p4" ng-click="anchor.go('p4')">
        <div class="scroll-nav-item"></div>
    </div>
    <div class="scroll-nav-item-container" data-scrollspy-listen="p5" ng-click="anchor.go('p5')">
        <div class="scroll-nav-item"></div>
    </div>
    <div class="scroll-nav-item-container" data-scrollspy-listen="p6" ng-click="anchor.go('p6')">
        <div class="scroll-nav-item"></div>
    </div>
    <div class="scroll-nav-item-container" data-scrollspy-listen="p7" ng-click="anchor.go('p7')">
        <div class="scroll-nav-item"></div>
    </div>
    <div class="scroll-nav-item-container" data-scrollspy-listen="p8" ng-click="anchor.go('p8')">
        <div class="scroll-nav-item"></div>
    </div>
</div>

<div id="p1" data-scrollspy-broadcast class="jumbotron" animate-effect ng-class="{'p1-animate':isElementInViewport}">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-2 left">
                <img src="img/homepageword.png" class="paktor">
                <h2 style="padding-top:20px;">
                    An easy way to
                    <br>make new friends
                </h2>
                <div style="height: 170px;margin-top: 40px;">
                    <button style="padding-left: 50px;padding-right: 50px;letter-spacing: 5px;" type="button" class="btn btn-default btn1" ng-show="!showStore" ng-click="showStore=true">
                        DOWNLOAD NOW
                    </button>
                    <div class="link-store"  ng-show="showStore">
                        <a href="https://itunes.apple.com/sg/app/paktor-chat-friends-meet-new/id654972611?mt=1" target="_blank" style="margin-right: 30px;">
                            <img src="img/btn_app_1.png">
                        </a>
                        <a href="https://play.google.com/store/apps/details?id=com.paktor&amp;referrer=utm_source%3Dgopaktor_com%26utm_medium%3Dhome_page%26utm_campaign%3Dplaystore_button" target="_blank">
                            <img src="img/btn_google_1.png">
                        </a>
                    </div>
                </div>
                <div><img src="img/scroll.png" alt="" style="height: 26px;margin-right: 10px;"/> scroll down to see more</div>
            </div>
            <div class="col-md-5 hidden-sm hidden-xs">
                <img src="img/phone.png"class="img-responsive" alt="Responsive image">
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="myModalContent.html">
    <div style="position: relative;">
        <span ng-click="videoInstance.close()" class="glyphicon glyphicon-remove" style="cursor: pointer;position: absolute;z-index: 100;right: 10px;font-size: 25px;top: 10px;background: white;border-radius: 50%;"></span>

        <video style="width: 100%;" controls>
            <source src="https://s3-ap-southeast-1.amazonaws.com/letsgaigai/PaktorAppInstructionNoIntro-English.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </div>
</script>

<div class="fullcontainer hidden-xs" ng-controller="ModalVideoCtrl as video">
    <img ng-click="video.open()" src="img/videoBackground.png" class="img-responsive" style="background-size:cover; width:100%;cursor: pointer;" alt="">
</div>

<video class="visible-xs" style="width: 100%;" controls>
    <source src="https://s3-ap-southeast-1.amazonaws.com/letsgaigai/PaktorAppInstructionNoIntro-English.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
</video>

<div id="p2" data-scrollspy-broadcast class="jumbotron intro" style="background:white;padding-bottom: 0px;" animate-effect ng-class="{'p2-animate':isElementInViewport}">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-push-7">
                <h2 style="color:#464963;">To the left or<br> to the right</h2>
                <p style="color:#464963; padding-top:20px; font-size:21px; font-family:'BrandonText-Thin_0'; font-weight:900;">A swipe away would be a magical touch for life.
                    Swipe right to like and swipe left to pass.</p>
            </div>
            <div class="col-md-4 col-md-pull-3 text-center">
                <img src="img/phone.png" class="img-responsive" alt="Responsive image">
            </div>
        </div>
    </div>
</div>
<div id="p3" data-scrollspy-broadcast class="jumbotron intro" style="background:#f0f1f7;padding-bottom: 0px;">
                <div class="container">
                    <div class="row">
            <div class="col-md-5 col-md-offset-2">
                <h2 style="color:#464963;">It's a Match!</h2>
                <p style="color:#464963; padding-top:20px; font-size:21px; font-family:'BrandonText-Thin_0'; font-weight:900;">
                    When someone likes you back, you will get paired up with him/her.
                    <br/><br/> Paktor brings like-minded people together.
                </p>
            </div>
            <div class="col-md-5 text-center">
                <img src="img/phone2.png"class="img-responsive" alt="Responsive image">
            </div>
        </div>
    </div>
</div>

<div id="p4" data-scrollspy-broadcast style="background: #38373b;padding: 30px;color: #606370;text-align: center;font-size: 30px;font-style: italic;padding: 70px 0 1px;">
    <h2>What people say <br/>about us.</h2>
</div>
<uib-carousel class="hidden-sm hidden-xs">
    <uib-slide>
        <div class="row">
            <div class="col-md-6 say" style="padding-left: 200px;">
                <img src="img/p1.png" alt=""/>
                <span style="font-style:italic;">
                    " Thank you Paktor! I found my current girlfriend on the app and I can't thank you enough! "
                    <br/>
				 </span>
				 <span style="font-family: BrandonText-Regular_2">
                    Joon, 28
				</span>

            </div>
            <div class="col-md-6 say" style="padding-right: 200px;">
                <img src="img/p2.png" alt=""/>
                <span style="font-style:italic;">
                    "I thought I'd let you know, I found my girlfriend on Paktor and we just got engaged "
                    <br/>
				</span>
				<span style="font-family: BrandonText-Regular_2">
                    Diva, 26
                </span>
            </div>
        </div>
    </uib-slide>
    <uib-slide>
        <div class="row">
            <div class="col-md-6 say" style="padding-left: 200px;">
                <img src="img/p3.png" alt=""/>
                <span style="font-style:italic;">
                    "I will recommend Paktor to my friends since i found my boyfriend there."
                    <br/>
				</span>
				<span style="font-family: BrandonText-Regular_2">
                    Claire, 25
                </span>
            </div>
            <div class="col-md-6 say" style="padding-right: 200px;">
                <img src="img/p4.png" alt=""/>
                <span style="font-style:italic;">
                    "Who would have thought, I would get together with my first match on Paktor! And we're so into each other. Thanks Paktor!"
                    <br/>
				</span>
				<span style="font-family: BrandonText-Regular_2">
                    Charmaine, 32
                </span>
            </div>
        </div>
    </uib-slide>
</uib-carousel>
<uib-carousel class="visible-xs visible-sm">
    <uib-slide>
        <div class="say">
            <img src="img/p1.png" alt=""/>
        </div>
        <div class="carousel-caption" >
            <p style="font-family:Aver;font-size: 16px;font-style:italic;">
                " Thank you Paktor! I found my current girlfriend on the app and I can't thank you enough! "
                <br/><br/>
                <span style="font-family: BrandonText-Regular_2;font-style: normal;">
                    Joon, 28
				</span>
            </p>
        </div>
    </uib-slide>
    <uib-slide>
        <div class="say">
            <img src="img/p2.png" alt=""/>
        </div>
        <div class="carousel-caption" >
            <p style="font-family:Aver;font-size: 16px;font-style:italic;">
                "I thought I'd let you know, I found my girlfriend on Paktor and we just got engaged "
                <br/><br/>
                <span style="font-family: BrandonText-Regular_2;font-style: normal;">
                    Diva, 26
				</span>
            </p>
        </div>
    </uib-slide>
    <uib-slide>
        <div class="say">
            <img src="img/p3.png" alt=""/>
        </div>
        <div class="carousel-caption" >
            <p style="font-family:Aver;font-size: 16px;font-style:italic;">
                "I will recommend Paktor to my friends since i found my boyfriend there."
                <br/><br/>
                <span style="font-family: BrandonText-Regular_2;font-style: normal;">
                    Claire, 25
				</span>
            </p>
        </div>
    </uib-slide>
    <uib-slide>
        <div class="say">
            <img src="img/p4.png" alt=""/>
        </div>
        <div class="carousel-caption" >
            <p style="font-family:Aver;font-size: 16px;font-style:italic;">
                "Who would have thought, I would get together with my first match on Paktor! And we're so into each other. Thanks Paktor!"
                <br/><br/>
                <span style="font-family: BrandonText-Regular_2;font-style: normal;">
                    Charmaine, 32
				</span>
            </p>
        </div>
    </uib-slide>
</uib-carousel>
<div style="background: #38373b;padding: 30px;color: #606370;text-align: center;font-size: 30px;font-style: italic;font-weight: 400;padding: 70px;">
</div>
<div id="p5" data-scrollspy-broadcast class="jumbotron intro" style="background:white;padding-bottom: 0px; ">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-push-7">
                <h2 style="color:#464963;">Start a conversation.</h2>
                <p style="color:#464963; padding-top:20px; font-size:21px; font-family:'BrandonText-Thin_0'; font-weight:900;">A first mover always has more advantages.<br>Be active and break an awkward silence.</p>
            </div>
            <div class="col-md-4 col-md-pull-3 text-center">
                <img src="img/phone3.png"class="img-responsive" alt="Responsive image">
            </div>
        </div>
    </div>
</div>
<div id="p6" data-scrollspy-broadcast class="jumbotron intro" style="background:#f0f1f7;padding-bottom: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-2">
                <h2 style="color:#464963;">Send gifts or<br> direct messages</h2>
                <p style="color:#464963; padding-top:20px; font-size:21px; font-family:'BrandonText-Thin_0'; font-weight:900;">Don’t wait for Cupid.
                    Get connected faster by sending gifts or
                    direct messages to your new friends on Paktor.</p>
            </div>
            <div class="col-md-5 text-center">
                <img src="img/phone4.png"class="img-responsive" alt="Responsive image">
            </div>
        </div>
    </div>
</div>
<div id="p7" data-scrollspy-broadcast class="jumbotron" style="background:#403f43;padding-bottom: 0px;">
    <div class="container">
        <div class="row" style="text-align:center;">
            <div class="col-md-12"><h2 style="color:#6c6f7d; padding-bottom: 40px;font-size: 30px;">Play with the filters,<br/>find your perfect match.</h2></div>
        </div>
        <div class="row" style="text-align:center;">
            <div class="col-md-12">
                <img src="img/pic.png" class="img-responsive hidden-xs" alt="Responsive image">
                <img src="img/web_mobile.png"class="img-responsive visible-xs" alt="Responsive image">
            </div>

        </div>
    </div>
</div>
<div id="p8" data-scrollspy-broadcast class="jumbotron" style="background:white;">
    <div class="container" style="padding-top:80px;padding-bottom:80px;">
        <div class="row">
            <div class="col-md-4 col-md-offset-1 tips">
                <h2  style="color:#464963; ">Hot tips</h2>
                <p style="color:#464963; font-size:21px; font-family:Brandon Text Medium; padding-top:20px;">Take advantage of our new<br>  member subscription and gain<br>access to benefits that will enrich your Paktor experience!</p>
            </div>
            <div class="col-md-6 col-md-offset-1">
                <ul class="list-unstyled list">
                    <li style="color:#838498;">
                        <img src="img/message.png"> Send message & gifts to anyone
                    </li>
                    <li style="color:#838498;">
                        <img src="img/heart.png"> See who has liked you and viewed you
                    </li>
                    <li style="color:#838498;">
                        <img src="img/lock.png"> Unlock fiters like job, education, height
                    </li>
                    <li style="color:#838498;">
                        <img src="img/eye.png"> browse invisibly
                    </li>
                    <li style="color:#838498;">
                        <img src="img/clock.png"> view the last active time for your matches
                    </li>
                    <li style="color:#838498;">
                        <img src="img/circle.png"> Refilled to 1000 points everyday
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
