
<div class="jumbotron" id="content" style="padding-top:150px;padding-bottom: 150px;">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1 style="font-size:60px;">職缺</h1>
                <p style="padding-top:20px; font-size:25px;font-family:'BrandonText-Thin_0'; font-weight:900;">
                    Paktor 成長快速，且總是求才若渴，如果你是聰明且具有野心的人才，我們非常想跟你聊聊！
                </p>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10" style="padding-top: 20px;">
			<a href="https://www.techinasia.com/companies/paktor" >
                <button type="button" class="btn btn-default btn1">
                    查看職缺
                </button>
			</a>
            </div>
        </div>
    </div>
</div>
