<div class="jumbotron" id="content" style="padding-top:150px;padding-bottom: 170px;">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1 style="font-size:60px;">一起拍拖吧!
                    </h1>
                <p style=" padding-top:20px; font-size:30px;font-family:'BrandonText-Thin_0'; font-weight:900; margin-bottom: 0.5px;">Paktor 服務再升級，推出台灣區專屬的實體聯誼配對服務</p>
                <p style="font-size:30px; font-family:'BrandonText-Thin_0'; font-weight:900;">跟我們一起展開你的愛情故事</p>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" style="padding-top: 20px;">
                <a href="https://letsgaigai.com/#/profile/step1/">
                    <button type="button" class="btn btn-default btn1">
                        試試Paktor Premium
                    </button>
                </a>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</div>
