<div class="scroll-nav-container hidden-sm hidden-xs" style="height: 145px;">
    <div class="scroll-nav-item-container" data-scrollspy-listen="p1">
        <div class="scroll-nav-item" anchor-smooth-scroll="p1"></div>
    </div>
    <div class="scroll-nav-item-container" data-scrollspy-listen="p2">
        <div class="scroll-nav-item" anchor-smooth-scroll="p2"></div>
    </div>
    <div class="scroll-nav-item-container" data-scrollspy-listen="p3">
        <div class="scroll-nav-item" anchor-smooth-scroll="p3"></div>
    </div>
    <div class="scroll-nav-item-container" data-scrollspy-listen="p5">
        <div class="scroll-nav-item" anchor-smooth-scroll="p5"></div>
    </div>
    <div class="scroll-nav-item-container" data-scrollspy-listen="p6">
        <div class="scroll-nav-item" anchor-smooth-scroll="p6"></div>
    </div>
    <div class="scroll-nav-item-container" data-scrollspy-listen="p7">
        <div class="scroll-nav-item" anchor-smooth-scroll="p7"></div>
    </div>
    <div class="scroll-nav-item-container" data-scrollspy-listen="p8">
        <div class="scroll-nav-item" anchor-smooth-scroll="p8"></div>
    </div>
</div>

<div id="p1" data-scrollspy-broadcast class="jumbotron" ng-controller="DownloadCtrl">
    <div class="container ">
        <div class="row">
            <div class="col-md-5 col-md-offset-2">
                <img src="img/homepageword.png" class="paktor">

                <h2 style="padding-top:20px;">以最簡單的方式認識新朋友

                </h2>

                <div style="height: 170px;margin-top: 40px;">
                    <button type="button"
                            class="btn btn-default btn1" ng-show="!showStore" ng-click="download()">
                        立即下載
                    </button>
                    <div class="link-store" ng-show="showStore">
                        <a href="https://itunes.apple.com/sg/app/paktor-chat-friends-meet-new/id654972611?mt=1"
                           target="_blank" style="margin-right: 30px;">
                            <img src="img/btn_app_1.png">
                        </a>
                        <a href="https://play.google.com/store/apps/details?id=com.paktor&amp;referrer=utm_source%3Dgopaktor_com%26utm_medium%3Dhome_page%26utm_campaign%3Dplaystore_button"
                           target="_blank">
                            <img src="img/btn_google_1.png">
                        </a>
                    </div>
                </div>
                <div><img src="img/mouseanimation.gif" alt="" style="height: 26px;margin-right: 10px;"/>
                    <!--scroll down to see more-->
                </div>
            </div>
            <div class="col-md-5 hidden-sm hidden-xs" style="overflow: hidden;">
                <img src="img/phone@2x.png" width="360"  class="img-responsive"
                     alt="Responsive image">
            </div>
        </div>
    </div>
</div>
<!--<script type="text/ng-template" id="myModalContent.html">-->
    <!--<div style="position: relative;">-->
        <!--<span ng-click="videoInstance.close()" class="glyphicon glyphicon-remove"-->
              <!--style="cursor: pointer;position: absolute;z-index: 100;right: 10px;font-size: 25px;top: 10px;background: white;border-radius: 50%;"></span>-->

        <!--<video style="width: 100%;" controls>-->
            <!--<source src="https://s3-ap-southeast-1.amazonaws.com/letsgaigai/PaktorAppInstructionNoIntro-English.mp4"-->
                    <!--type="video/mp4">-->
            <!--Your browser does not support HTML5 video.-->
        <!--</video>-->
    <!--</div>-->
<!--</script>-->

<!--<div class="fullcontainer hidden-xs" ng-controller="ModalVideoCtrl as video">-->
    <!--<img ng-click="video.open()" src="img/video.png" class="img-responsive"-->
         <!--style="background-size:cover; width:100%;cursor: pointer;" alt="">-->
<!--</div>-->

<video class="visible-xs" style="width: 100%;" controls>
    <source src="https://s3-ap-southeast-1.amazonaws.com/letsgaigai/PaktorAppInstructionNoIntro-English.mp4"
            type="video/mp4">
    Your browser does not support HTML5 video.
</video>

<div id="p2" data-scrollspy-broadcast class="jumbotron intro" style="background:white;padding-bottom: 0px;">
    <div class="container" in-viewport="isIn2" delay="3000">
        <div class="row">
            <div class="col-md-5 col-md-push-7" style="overflow:hidden;">
                <h2 class="t1 p2-right-start p2-right-end" ng-class="{'p2-right-end':isIn}" style="color:#464963;">向左滑或是向右滑
                    </h2>

                <p class="t1 p2-right-start introduce p2-right-end" ng-class="{'p2-right-end':isIn}">
                    一個滑動將會成為生活中奇蹟的一瞬間
                    右滑喜歡，左滑不喜歡</p>
            </div>
            <div class="col-md-4 col-md-pull-3 text-center">
                <img ng-src="img/phone.png" width="338" height="647" class="img-responsive t1 p2-left-start p2-left-end" ng-class="{'p2-left-end':isIn}"
                     alt="Responsive image">
            </div>
        </div>
    </div>
</div>
<div id="p3" data-scrollspy-broadcast class="jumbotron intro" style="background:#f0f1f7;padding-bottom: 0px;">
    <div class="container" in-viewport="isIn2" delay="3000">
        <div class="row">
            <div class="col-md-5 col-md-offset-2">
                <h2 class="t1 p2-left-start p2-left-end" ng-class="{'p2-left-end':isIn}" style="color:#464963;">配對成功！
                    </h2>

                <p class="t1 p2-left-start introduce p2-left-end" ng-class="{'p2-left-end':isIn}">
                    當有人也喜歡你，你就與他/她配對成功。
                    配對成功之後就趕快開啟對話，多聊天可讓感情迅速加溫！

                </p>
            </div>
            <div class="col-md-5 text-center" style="overflow: hidden;">
                <img ng-src="img/phone2.png" width="338" height="647" class="img-responsive t1 p2-right-start p2-right-end" ng-class="{'p2-right-end':isIn}" alt="Responsive image">
            </div>
        </div>
    </div>
</div>

<div id="p5" data-scrollspy-broadcast class="jumbotron intro" style="background:white;padding-bottom: 0px; ">
    <div class="container" in-viewport="isIn2" delay="3000">
        <div class="row">
            <div class="col-md-5 col-md-push-7" style="overflow:hidden;">
                <h2 class="t1 p2-right-start p2-right-end" ng-class="{'p2-right-end':isIn}" style="color:#464963;">開始一段對話.
                    </h2>

                <p class="t1 p2-right-start introduce p2-right-end" ng-class="{'p2-right-end':isIn}">
                    送個禮物來打破尷尬的僵局！
                    培養共同話題是維繫感情的小技巧喲～
                </p>
            </div>
            <div class="col-md-4 col-md-pull-3 text-center">
                <img ng-src="img/phone3.png" width="338" height="647" class="img-responsive t1 p2-left-start p2-left-end" ng-class="{'p2-left-end':isIn}" alt="Responsive image">
            </div>
        </div>
    </div>
</div>
<div id="p6" data-scrollspy-broadcast class="jumbotron intro" style="background:#f0f1f7;padding-bottom: 0px;">
    <div class="container" in-viewport="isIn2" delay="3000">
        <div class="row">
            <div class="col-md-5 col-md-offset-2">
                <h2 class="t1 p2-left-start p2-left-end" ng-class="{'p2-left-end':isIn}" style="color:#464963;">
                    發送訊息或是直接傳情</h2>

                <p class="t1 p2-left-start introduce p2-left-end" ng-class="{'p2-left-end':isIn}">
                    別再等待愛神降臨，在Paktor上發送禮物或直接傳情，讓愛情更快開始。</p>
            </div>
            <div class="col-md-5 text-center" style="overflow: hidden;">
                <img ng-src="img/phone4.png" width="338" height="653" class="img-responsive t1 p2-right-start p2-right-end" ng-class="{'p2-right-end':isIn}" alt="Responsive image">
            </div>
        </div>
    </div>
</div>
<div id="p7" data-scrollspy-broadcast class="jumbotron" style="background:#403f43;padding-bottom: 0px;">
    <div class="container">
        <div class="row" style="text-align:center;">
            <div class="col-md-12"><h2 style="color:#6c6f7d; padding-bottom: 40px;font-size: 30px;">想趕快找到理想對象嗎？你該試試條件篩選！</h2></div>
        </div>
        <div class="row" style="text-align:center;">
            <div class="col-md-12">
                <img ng-src="img/pic.png" width="1202" height="556" class="img-responsive hidden-xs" alt="Responsive image">
                <img src="img/web_mobile.png" class="img-responsive visible-xs" alt="Responsive image">
            </div>

        </div>
    </div>
</div>
<div id="p8" data-scrollspy-broadcast class="jumbotron" style="background:white;">
    <div class="container" style="padding-top:80px;padding-bottom:80px;">
        <div class="row">
            <div class="col-md-4 col-md-offset-1 tips">
                <h2 style="color:#464963; ">熱門提示
                    </h2>

                <p class="introduce">購買我們新的會員方案，使用更多功能，讓你的Paktor使用經驗更棒!</p>
            </div>
            <div class="col-md-6 col-md-offset-1">
                <ul class="list-unstyled list">
                    <li>
                        <img src="img/message.png"> 發送訊息和禮物給任何一位你喜歡的人
                    </li>
                    <li>
                        <img src="img/heart.png"> 查看誰瀏覽過你和喜歡你
                    </li>
                    <li>
                        <img src="img/lock.png"> 解鎖高階功能例如：身高、職業
                    </li>
                    <li>
                        <img src="img/eye.png"> 隱形瀏覽
                    </li>
                    <li>
                        <img src="img/clock.png"> 查看你的配對對象最後上線時間
                    </li>
                    <li>
                        <img src="img/circle.png"> 點數少於1000 點時，每天將回充值到1000 點
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
