<div class="jumbotron" style="padding-top:150px;padding-bottom: 180px;">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1 style="font-size:60px;">開始滑滑吧</h1>

                <p style="padding-top:20px; font-size:30px;font-family:'BrandonText-Thin_0'; font-weight:900; margin-bottom:0.5px;">
                    如果你比較喜歡通過大螢幕來瀏覽滑動檔案，不妨試試登入我們特殊設計的網頁版app吧。
                </p>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10" style="padding-top: 30px;">
                <a href="http://web.gopaktor.com">
                    <button type="button" class="btn btn-default btn1">
                        現在就試試吧
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
