
<div class="jumbotron" id="content" style="padding-bottom: 130px;">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10"><h1>Dì ciao</h1></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <div class="input-group input-group-lg"style="width: 100%;">
                    <input data-ng-model="email.name" type="text" class="form-control" placeholder="Nome" style="margin-top: 20px;padding: 12px;background-color: #3d3f57;font-size: 18px;font-weight: 400; color:#ceced5;">
                </div>
                <div class="input-group input-group-lg" style="width: 100%;">
                    <input ng-model="email.subject" type="text" class="form-control" placeholder="Oggeto" style="margin-top: 30px;padding: 12px;background-color: #3d3f57;font-size: 18px;font-weight: 400;color:#ceced5;">
                </div>
                <textarea data-ng-model="email.body" placeholder="Messaggio" rows="5" style="width: 100%;margin-top: 30px;padding: 12px;background-color: #3d3f57;font-size: 18px;font-weight: 400; color:#ceced5;">Messaggio</textarea>
                <a class="btn btn-default"
                   style="margin-top:30px;width: 100%;background-color: #3d3f57;font-size: 18px;font-weight: 400;border: 2px solid #46c8a8; color:#46c8a8;font-weight: bold;  font-family: Brandon Text;"
                   href="mailto:help@gopaktor.com?subject={{email.subject}}%20from%20{{email.name}}&amp;body={{email.body}}">Invia</a>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <h3 style="color:#46c8a8;font-family:Brandon Text Medium;">AIUTO</h3>
                <p style="font-family:'BrandonText-Thin_0'; font-weight:900;">help@gopaktor.com</p>
                <h3 style="color:#46c8a8;font-family:'Brandon Text Medium'; ">PARTNERSHIP</h3>
                <p style="font-family:'BrandonText-Thin_0'; font-weight:900;">partners@gopaktor.com</p>
                <h3 style="color:#46c8a8;font-family:'Brandon Text Medium';">COMMENTI ED IDEE</h3>
                <p style="font-family:'BrandonText-Thin_0'; font-weight:900;">help@gopaktor.com</p>
                <h3 style="color:#46c8a8;font-family:'Brandon Text Medium';">STAMPA</h3>
                <p style="font-family:'BrandonText-Thin_0'; font-weight:900;">press@gopaktor.com</p>
            </div>
        </div>
    </div>
</div>
