<div class="scroll-nav-container hidden-sm hidden-xs" style="height: 145px;">
    <div class="scroll-nav-item-container" data-scrollspy-listen="p1" ng-click="go('p1')">
        <div class="scroll-nav-item"></div>
    </div>
    <div class="scroll-nav-item-container" data-scrollspy-listen="p3" ng-click="go('p3')">
        <div class="scroll-nav-item"></div>
    </div>
    <div class="scroll-nav-item-container" data-scrollspy-listen="p4" ng-click="go('p4')">
        <div class="scroll-nav-item"></div>
    </div>
    <div class="scroll-nav-item-container" data-scrollspy-listen="p5" ng-click="go('p5')">
        <div class="scroll-nav-item"></div>
    </div>
    <div class="scroll-nav-item-container" data-scrollspy-listen="p6" ng-click="go('p6')">
        <div class="scroll-nav-item"></div>
    </div>
</div>

<!-- /.container -->
<div class="jumbotron about" id="p1" data-scrollspy-broadcast>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 style="font-size:60px; ">Why, how and where?</h2>

                <p style="  padding-top:20px; font-size:25px;font-family:'BrandonText-Thin_0'; font-weight:900;">Paktor was founded in July 2013 with the mission of connecting people in Asia through technology-enabled platforms. With one of the largest user bases in the region of over 6 million, Paktor has facilitated 5 billion profile reviews to date. Leveraging Paktor’ s carefully crafted proprietary technology and first-mover advantage in the region, Paktor’ s flagship app has become the most successful social networking app for singles in Southeast Asia and Taiwan.
                </p>

                <div class="see-more" style="margin-bottom: 10px;">
                    <!--scroll down to see more-->
                </div>
            </div>
        </div>
    </div>
</div>
<div style="background: #f0f1f7;" class="about" data-scrollspy-broadcast id="p2">
    <h2 style="font-family:'Aver Bold';color:#464963; text-align: center; margin:0px;padding-top:40px;font-size: 40px; ">As Seen On</h2>
    <uib-carousel>
        <uib-slide>
            <div style="padding-top:30px; background-color:#f0f1f7;padding-bottom: 50px;">
                <img src="img/v1.png" class="img-responsive" alt=""/>
            </div>
        </uib-slide>
        <uib-slide>
            <div style="padding-top:50px; background-color:#f0f1f7;padding-bottom: 50px;">
                <img src="img/v2.png" class="img-responsive" alt=""/>
            </div>
        </uib-slide>
        <uib-slide>
            <div style="padding-top:50px; background-color:#f0f1f7;padding-bottom: 50px;">
                <img src="img/v3.png" class="img-responsive" alt=""/>
            </div>
        </uib-slide>
    </uib-carousel>
</div>
<div class="container" data-scrollspy-broadcast id="p3">
    <h2 style="text-align: center;padding: 70px;font-size: 45px;">About us</h2>
    <div class="row" style="padding-bottom: 60px;">
        <div class="col-md-6 text-center">
            <img src="img/logo2.png" alt=""/>
        </div>
        <div class="col-md-6" style="font-size: 18px;padding: 30px;">
            <p>
                <span style="font-family: 'Aver Bold';font-size: 20px;">How It Begun</span>

            </p>

            <p>Paktor was founded in July 2013 with the mission of connecting people in Asia through technology-enabled platforms.</p>

            <p>With one of the largest user bases in the region of over 5 million, Paktor has facilitated 5 billion profile reviews to date.</p>

            <p>Leveraging Paktor’ s carefully crafted proprietary technology and first-mover advantage in the region, Paktor’ s flagship app has become the most successful social networking app for singles in Southeast Asia and Taiwan.</p>
        </div>
    </div>
</div>
<div class="jumbotron" style="padding-top:80px;padding-bottom: 80px;">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="text-center" style="padding: 0px 0 20px 0;">
                    <h1>Mission Statement</h1>
                    <h3 style="font-family: 'Aver Bold';font-size: 24px;">To provide personal and meaningful connections through our suite of dating platforms and services.</h3>

                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
<div style="background: #ebeef4;text-align: center;padding: 70px;" id="p4" data-scrollspy-broadcast>
    <h2 style="font-size: 45px;">Our values  </h2>
</div>
<uib-carousel class="our-values ">
    <uib-slide>
        <div style="background: #ebeef4;">
            <div class="container" style="text-align: left;">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2 text-center"><img style="margin-top: 10px;" src="img/04.png" width="120" alt=""/></div>
                    <div class="col-sm-8">
                        <h2>Anonymity</h2>
                        <p style="font-size: 18px;">
                            Paktor works on a double blind concept.Only if two parties like each other will we then make an
                            introduction. When you like someone, the person will not know until he/she likes you back. This
                            removes any tension caused by "liking" someone for fear of rejection. We take your privacy very
                            seriously and do not share anything without your consent.
                        </p>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
        </div>
    </uib-slide>
    <uib-slide>
        <div style="background: #ebeef4;">
            <div class="container" style="text-align: left;">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2 text-center"><img style="margin-top: 10px;" src="img/03.png" width="120" alt=""/></div>
                    <div class="col-sm-8" >
                        <h2>Locality</h2>
                        <p style="font-size: 18px;">
                            Paktor is a network of interesting people around you. We think that's where all the fun happens.
                        </p>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
        </div>
    </uib-slide>
    <uib-slide>
        <div style="background: #ebeef4;">
            <div class="container" style="text-align: left;">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2 text-center"><img style="margin-top: 10px;" src="img/02.png" width="120" alt=""/></div>
                    <div class="col-sm-8">
                        <h2>Usability</h2>
                        <p style="font-size: 18px;">
                            Paktor is easy and fun to use. Our primary focus is to make finding a date simple and fuss-free. Download, sign-up and you're ready to go in less than 30 seconds. No need to spend hours crafting a profile to encompass who you are as a person!
                        </p>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
        </div>
    </uib-slide>
</uib-carousel>
<div style="background: #ebeef4;padding: 30px;text-align: center;font-size: 30px;font-style: italic;font-weight: 400;padding: 70px;">
</div>

<div class="jumbotron" id="p5" data-scrollspy-broadcast style="background-color: white;">
    <div class="container" style="background-color:white;padding-bottom: 60px;">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center"
                    style=" color:#403f43; font-size:60px;padding: 35px 0 50px 0;">
                    In the news.</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center">
                <img src="img/logo2.png" style="padding-top: 50px;" width="150"/>
            </div>
            <div class="col-md-9 news">
                <p class="date">26 April 2017 TechCrunch</p>
                <h2 class="title">Paktor, a major rival to Tinder in Asia, moves into live-streaming via merger deal
                </h2>
                <p class="content">
                    Dating app Paktor, often dubbed ‘The Tinder of Southeast Asia,’ just sealed up its move into live-streaming and media content after it announced a merger deal with Taiwanese startup 17 Media.
                </p>
                <a class="read-more" href="https://techcrunch.com/2017/04/26/paktor-merges-with-taiwans-17-media/">
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> READ MORE</a>
            </div>
        </div>

        <div ng-show="p1" class="row news">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p class="date">26 April 2017 Tech In Asia</p>
                <h2 class="title">Paktor is merging with the startup it bought to create a social entertainment company</h2>

                <p class="content">
                    Paktor announced today it has merged with its recent acquisition, livestreaming service 17 Media, to form M17, a company focused on social entertainment.
                </p>
                <a href="https://www.techinasia.com/paktor-merger-m17"
                   class="read-more">
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> READ MORE</a>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div ng-show="p1" class="row news">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p class="date">7 March 2017 e27</p>
                <h2 class="title">Paktor appoints Shang-Hsiu Koo as new CFO, aims to boost social dating in Southeast Asia</h2>

                <p class="content">
                    Koo was the former CFO of Jiayuan, a Chinese dating platform
                </p>
                <a href="https://e27.co/paktor-appoints-shang-hsiu-koo-new-cfo-aims-boost-social-dating-se-asia-20170307/"
                   class="read-more">
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> READ MORE</a>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div ng-show="p1" class="row news">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p class="date">2 Feb 2017 Thetechportal</p>
                <h2 class="title">Paktor relaunches as “Swipe” in South Korea, sets up office in Seoul</h2>

                <p class="content">
                    Singapore-based Paktor has relaunched its dating services app in South Korea as Swipe. With the launching of its services, the company’s presence is expanded into seven countries namely Singapore, South Korea, Taiwan, Indonesia, Malaysia, Thailand and Vietnam.
                </p>
                <a href="https://thetechportal.com/2017/02/02/paktor-rebrands-swipe-south-korean-market/"
                   class="read-more">
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> READ MORE</a>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div ng-show="p1" class="row news">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p class="date">9 Feb 2017 Tech Wire Asia</p>
                <h2 class="title">Singapore: Paktor Group acquires more match-making apps in quest to go global</h2>

                <p class="content">
                    SINGAPOREAN dating app company Paktor Group has acquired three other dating app firms from different parts of the world in a move that marks its expansion into the international love arena, less than two months after acquiring a controlling stake in livestreaming platform 17 Media
                </p>
                <a href="http://techwireasia.com/2017/02/singapore-paktor-group-acquires-match-making-apps-quest-go-global/#cyeI4tud5HgMEDdd.97"
                   class="read-more">
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> READ MORE</a>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div ng-show="p1" class="row news">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p class="date">20 Jan 2017 TechCrunch</p>
                <h2 class="title">Casual dating app Down acquired by Paktor</h2>

                <p class="content">
                    Remember “Bang With Friends?” The controversial app, which later rebranded as Down, was acquired by Singapore-based dating startup Paktor (they’re, um… hooking up).
                    The terms of the deal were not disclosed, but we’re told it was several million. After raising just $1 million, it was a “positive outcome” for investors like Tim Draper. Paktor has pulled in more than $50 million from investors, including a recent $32.5 million round in October
                </p>
                <a href="https://techcrunch.com/2017/01/20/casual-dating-app-down-acquired-by-paktor/"
                   class="read-more">
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> READ MORE</a>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div ng-show="p1" class="row news">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p class="date">19 Dec 2016 Forbes</p>
                <h2 class="title">How An App From Southeast Asia Is Helping People Find Love Online</h2>

                <p class="content">
                    For singles in Southeast Asia, finding love online has been historically frowned upon. But an app called Paktor is trying to change that.</p>
                <a href="https://www.forbes.com/sites/ciocentral/2016/12/19/how-an-app-from-southeast-asia-is-helping-people-find-love-online/#632caff43553"
                   class="read-more">
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> READ MORE</a>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div ng-show="p1" class="row news">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p class="date">8 Dec 2016 Global Dating Insights</p>
                <h2 class="title">Paktor Announces First Acquisition, Securing Controlling Stake In Asian Livestreaming App 17 - Global Dating Insights</h2>

                <p class="content">
                    Mobile dating provider Paktor has secured a controlling stake in 17 Media, the company behind leading Asian live streaming platform 17. Paktor’s first acquisition, it sees the company push a “substantial amount”</p>
                <a href="http://globaldatinginsights.com/2016/12/08/paktor-announces-first-acquisition-securing-controlling-stake-in-asian-livestreaming-app-17/"
                   class="read-more">
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> READ MORE</a>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div ng-show="p1" class="row news">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p class="date">2 November 2016 IBTimes</p>
                <h2 class="title">Dating app Paktor raises $32.5 million from K2 Global, PT Media Nusantara</h2>

                <p class="content">
                    Paktor, the Singapore-based dating app that is in competition with Tinder in Southeast Asia, has raised $32.5 million in the latest round of funding led jointly by San Francisco-based venture capital firm K2 Global and PT Media Nusantara, an Indonesia-based company.
                </p>
                <a href="http://www.ibtimes.co.in/dating-app-paktor-raises-32-5-million-k2-global-pt-media-nusantara-702258"
                   class="read-more">
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> READ MORE</a>
            </div>
            <div class="col-md-1"></div>
        </div>

        <!--<div ng-show="p1" class="row news">-->
            <!--<div class="col-md-1"></div>-->
            <!--<div class="col-md-10">-->
                <!--<p class="date">Channel NewsAsia</p>-->
                <!--<h2 class="title">Dating app Paktor moves into social entertainment with first acquisition</h2>-->

                <!--<p class="content">-->
                    <!--Marking its first acquisition, Singapore-based dating app Paktor said on Thursday (Dec 8) that it has agreed to buy a controlling stake in Taiwanese start-up 17 Media.-->
                <!--</p>-->
                <!--<a href="http://www.channelnewsasia.com/news/business/singapore/dating-app-paktor-moves-into-social-entertainment-with-first/3351350.html"-->
                   <!--class="read-more">-->
                    <!--<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> READ MORE</a>-->
            <!--</div>-->
            <!--<div class="col-md-1"></div>-->
        <!--</div>-->

        <!--No2 Article-->
        <div ng-show="p1" class="row news">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p class="date">22 March 2015 CNN Money</p>
                <h2 class="title">4 ways Asian dating
                    apps are anti-Tinder</h2>

                <p class="content">
                    Spotted a cutie in Singapore,
                    but tongue-tied? No problem -- just grab your phone,
                    and download one of the many new dating apps for singles in Asia.</p>
                </p>
                <a href="http://money.cnn.com/2015/03/22/technology/asia-dating-apps-tinder/"
                   class="read-more">
				<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> READ MORE</a>
            </div>
            <div class="col-md-1"></div>
        </div>

        <!--No3 Article-->
        <div ng-show="p1" class="row news">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p class="date">24 March
                    2015 Bloomberg</p>
                <h2 class="title">Finding the Perfect
                    Match on Mobile</h2>

                <p class="content">
                    Paktor Co-Founder and CEO
                    Joseph Phua discusses his mobile dating app that helps people<br>
                    find the right match, who's using the application and where he sees opportunity with<br>
                    Bloomberg's Rishaad Salamat on "Trending Business."
                </p>
                <a href="http://www.bloomberg.com/news/videos/2015-03-24/finding-the-perfect-match-on-mobile"
                   class="read-more">
				<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> READ MORE</a>
            </div>
            <div class="col-md-1"></div>
        </div>
        <!--No4 Article-->
        <div ng-show="p1" class="row news">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p class="date">18 November 2014 Techcrunch</p>
                <h2 class="title">With $5M In Funding, Tinder-Like Paktor Wants To Get Southeast Asia Using
                    Dating Apps</h2>

                <p class="content">
                    When it comes to mobile dating apps, Tinder defines the market. The startup, which sees more
                    than 600 million swipes per day from users, pretty much owns its space in North America, but
                    things are different in other parts of the world. Paktor, a Singapore-based company, believes it
                    has the answer for Southeast Asia, and it has just announced a $3 million-plus funding round to
                    build out its vision for mobile dating.........
                </p>
                <a href="http://techcrunch.com/2014/11/17/with-5m-in-funding-tinder-like-paktor-wants-to-get-southeast-asia-using-dating-apps/"
                   class="read-more">
				<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> READ MORE</a>
            </div>
            <div class="col-md-1"></div>
        </div>
        <!--No5 Article-->
        <div ng-show="p1" class="row news">
            <div class="col-md-1"></div>
            <div class="col-md-10"  >
                <p class="date">18 November 2014 Tech in
                    Asia </p>

                <h2 class="title">Paktor winning in Southeast Asia, gets funding from Temasek subsidiary
                    Vertex</h2>

                <p class="content">
                    Enough with the flirting. Vertex Venture, a venture capital subsidiary of Singapore sovereign
                    wealth fund Temasek Holdings, has invested in Paktor, a Singapore-based dating app with over 1.5
                    million registered users.
                </p>
                <a href="https://www.techinasia.com/temasek-holdings-subsidiary-vertex-invests-dating-app-paktor/"
                   class="read-more">
				<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> READ MORE</a>
            </div>
            <div class="col-md-1"></div>
        </div>
        <!--No6 Article-->
        <div ng-show="p2" class="row news">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p class="date">17 July 2015 South China
                    Morning Post</p>
                <h2 class="title">Hijabs not hookups: SE Asian dating apps woo investors with local
                    expertise</h2>
                <p class="content">
                    PManila office worker Catherine Anunciacion, 28, wanted new friends so she joined Peekawoo,
                    a dating app made for women that emphasises fun and companionship - and nothing more....
                </p>
                <a href="http://www.scmp.com/tech/apps-gaming/article/1840773/hijabs-not-hookups-se-asia-dating-apps-woo-investors-local"
                   class="read-more">
				<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> READ MORE</a>
            </div>
            <div class="col-md-1"></div>
        </div>
        <!--No7 Article-->
        <div ng-show="p2" class="row news">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p class="date">22 May 2015 High Net-Worth</p>
                <h2 class="title">Joseph Phua: Out of Love to Top of Dating Game (Co-Founder & CEO,Paktor)</h2>

                <p class="content">
                    Does life mirror swiping?” I ask Joseph Phua. “Yes, people make a decision about you within 5seconds
                    of meeting,”......
                </p>
                <a href="http://www.hnworth.com/article/2015/05/21/joseph-phua-out-of-love-to-top-of-dating-game-co-founder-ceo-paktor/"
                   class="read-more">
				<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> READ MORE</a>
            </div>
            <div class="col-md-1"></div>

        </div>
        <!--No8 Article-->
        <div ng-show="p2" class="row news">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p class="date">5 July 2015 The Straits
                    Times</p>
                <h2 class="title">Win-win way to get rich: Help others make money</h2>
                <p class="content">
                    Passive investing holds no appeal for entrepreneur Joseph Phua, who is very hands-on when it
                    comes to managing his money.........
                </p>
                <a href="http://www.straitstimes.com/business/invest/win-win-way-to-get-rich-help-others-make-money"
                   class="read-more">
				<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> READ MORE</a>
            </div>
            <div class="col-md-1"></div>
        </div>

        <!--No9 Article-->
        <div ng-show="p2" class="row news">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p class="date">29 September 2015 Mashable</p>
                <h2 class="title">Survey finds most Singaporean women don't want to date bald men</h2>
                <p class="content">
                    Paktor, a local dating app, just released results of a survey done across 2,845 of its (presumably
                    heterosexual) users.<br>
                    The users were between 18 and 50 years of age, and there was a nearly equal split between men and
                    women.
                </p>
                <a href="http://mashable.com/2015/09/29/singapore-women-dating/#AzqTVRtS1gqr"
                   class="read-more">
				<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> READ MORE</a>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div ng-hide="p1&&p2" class="row">
            <div class="col-md-12" style="padding-top: 40px;">
                <button type="button" class="btn btn-default show-more" ng-click="showMore()">
                    SHOW MORE
                </button>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron" data-scrollspy-broadcast id="p6" style="background: #403f43;">
    <div class="text-center">
        <h2 style="font-size: 45px;font-style: italic;padding: 0 0 20px; color: #6c6f7d;">SouthEast Asia’s Hottest Dating App</h2>
        <h4 style="font-size: 20px;font-family: 'Aver Bold'; padding: 0 0 20px; color: #6c6f7d;">To provide personal and meaningful connections through our suite of dating platforms and services.</h4>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"><img src="img/map.en.png" style="width: 100%;" alt=""/></div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>