<div class="jumbotron" id="content" style="padding-top:150px;padding-bottom: 150px;">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h1 style="font-size:60px;">Enhance your career.</h1>
        <p style="padding-top:20px; font-size:25px;font-family:'BrandonText-Thin_0'; font-weight:900;">
          Paktor is growing quickly and are always looking for motivated and talented individuals who are passionate
          about mobile app development or marketing. If you’re intelligent and highly ambitious, we want to talk to you!
        </p>
      </div>
      <div class="col-md-2"></div>
    </div>

  </div>
</div>
<div class="container">
  <div class="row text-center">
    <div class="col-md-4" style="padding: 30px 0 30px 0;">
      <a href="#">
        <img src="img/logo2.png" alt="">
      </a>
      <h2>5 Company Values</h2>
      <p>
        We practice values that enable us to flourish and achieve our fullest potential. <a href="#">View Paktor’s 5
        Core Values.</a>
      </p>
    </div>
    <div class="col-md-4" style="padding: 30px 0 30px 0;">
      <a href="#">
        <img src="img/logo2.png" alt="">
      </a>
      <h2>Working at Paktor</h2>
      <p>
        Hear from actual experiences of our very own people on what exactly goes down in Paktor.
      </p>
    </div>
    <div class="col-md-4" style="padding: 30px 0 30px 0;">
      <a href="#">
        <img src="img/logo2.png" alt="">
      </a>
      <h2>View Jobs</h2>
      <p>
        Browse through our list of available positions and begin your journey with us!
      </p>
    </div>
  </div>
</div>

<uib-carousel class="our-values our-labs">
  <uib-slide>
    <div style="background: #ebeef4;">
      <div class="container" style="text-align: left;">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-2 text-center"><img style="margin-top: 10px;" src="img/04.png" width="120" alt=""/></div>
          <div class="col-sm-8">
            <h2>Over Communicate</h2>
            <p style="font-size: 18px;">
              You can’t read other people’s minds and no one can read yours. The only way to be on the same page is to
              talk. If you have a question, ask. If you’re not sure, ask. If you want to know what the other person is
              doing, ask. If you think someone might be interested in your work, tell them. If you’re not sure if your
              work is relevant to what you are trying to achieve, share it. When others share, you will learn and vice
              versa.
            </p>
          </div>
          <div class="col-sm-1"></div>
        </div>
      </div>
    </div>
  </uib-slide>
  <uib-slide>
    <div style="background: #ebeef4;">
      <div class="container" style="text-align: left;">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-2 text-center"><img style="margin-top: 10px;" src="img/03.png" width="120" alt=""/></div>
          <div class="col-sm-8">
            <h2>Act Global</h2>
            <p style="font-size: 18px;">
              The internet doesn’t have borders, we don’t either. We work in a global team, respect the diversity
              amongst us. We’re not competing locally, we’re competing with the world. This means measuring ourselves
              against the best in the world. We source from the world’s best talents, compete in markets worldwide and
              look for solutions from the world’s best practitioners.
            </p>
          </div>
          <div class="col-sm-1"></div>
        </div>
      </div>
    </div>
  </uib-slide>
  <uib-slide>
    <div style="background: #ebeef4;">
      <div class="container" style="text-align: left;">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-2 text-center"><img style="margin-top: 10px;" src="img/02.png" width="120" alt=""/></div>
          <div class="col-sm-8">
            <h2>Never stop growing</h2>
            <p style="font-size: 18px;">
              Constantly challenge and push yourself and your team. This is a place for growth, we will support you. If
              you don’t fail once in awhile, you’re not trying hard enough. If work feels stale, you’ve stopped growing.
              There is always room to grow. Get better at what you do, learn what others are doing, help your teammates
              get better. When you grow, the company will grow.
            </p>
          </div>
          <div class="col-sm-1"></div>
        </div>
      </div>
    </div>
  </uib-slide>
  <uib-slide>
    <div style="background: #ebeef4;">
      <div class="container" style="text-align: left;">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-2 text-center"><img style="margin-top: 10px;" src="img/02.png" width="120" alt=""/></div>
          <div class="col-sm-8">
            <h2>Be data driven</h2>
            <p style="font-size: 18px;">
              If you can measure it, do it. If you’re not sure, experiment. By constantly testing, learning, and
              optimizing, the company becomes a living laboratory. If your opinion goes against data, change your
              opinion. Decisions are not feelings, dice or astrology. Hope is not a strategy, luck is not a factor. If
              you can’t measure and there is no data available, take the plunge. For everything else, use the available
              data.
            </p>
          </div>
          <div class="col-sm-1"></div>
        </div>
      </div>
    </div>
  </uib-slide>
  <uib-slide>
    <div style="background: #ebeef4;">
      <div class="container" style="text-align: left;">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-2 text-center"><img style="margin-top: 10px;" src="img/02.png" width="120" alt=""/></div>
          <div class="col-sm-8">
            <h2>It’s Day One</h2>
            <p style="font-size: 18px;">
              Live every day like it’s Day One of the company. The future is up to us to build, nothing is set in stone.
              Current ways of thinking and doing can and will change. Things can get dirty, not everything is nice and
              in its place, things may break. The path ahead is long and we just started. There is still much to do.
            </p>
          </div>
          <div class="col-sm-1"></div>
        </div>
      </div>
    </div>
  </uib-slide>
</uib-carousel>

<div class="container">
  <h1> What’s it like to work at Paktor?</h1>
  <p>See what our team has to say about the working environment and how things are run around here.</p>
  <div class="row">
    <div class="col-md-4 text-center" style="padding: 30px 0 30px 0;">
      <img src="img/logo2.png" alt="">
      <h3>
        Relationship Manager (Kaile)
      </h3>
    </div>
    <div class="col-md-4 text-center" style="padding: 30px 0 30px 0;">
      <img src="img/logo2.png" alt="">
      <h3>
        Marketing (Darryl)
      </h3>
    </div>
    <div class="col-md-4 text-center" style="padding: 30px 0 30px 0;">
      <img src="img/logo2.png" alt="">
      <h3>
        Human Resource (Vanessa)
      </h3>
    </div>
    <div class="col-md-4 text-center" style="padding: 30px 0 30px 0;">
      <img src="img/logo2.png" alt="">
      <h3>
        Design (Lynn)
      </h3>
    </div>
    <div class="col-md-4 text-center" style="padding: 30px 0 30px 0;">
      <img src="img/logo2.png" alt="">
      <h3>
        Data (Vipin)
      </h3>
    </div>
    <div class="col-md-4 text-center" style="padding: 30px 0 30px 0;">
      <img src="img/logo2.png" alt="">
      <h3>
        Product Manager of Labs (Pablo)
      </h3>
    </div>


  </div>
</div>

<div class="jumbotron" style="padding-top:150px;padding-bottom: 150px;">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <p style="padding-top:20px; font-size:25px;font-family:'BrandonText-Thin_0'; font-weight:900;">
          Curious to find out the positions available and to look for the one that fits you perfectly? Go ahead, browse away!
        </p>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4" style="padding-top: 20px;">
        <a href="https://www.techinasia.com/companies/paktor">
          <button type="button" class="btn btn-default btn1">
            VIEW OUR JOBS
          </button>
        </a>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
</div>