<div class="jumbotron" id="content" style="padding-top:150px;padding-bottom: 150px;">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h1 style="font-size:60px;">Enhance your career.</h1>
        <p style="padding-top:20px; font-size:25px;font-family:'BrandonText-Thin_0'; font-weight:900;">
          Paktor is growing quickly and are always looking for motivated and talented individuals who are passionate
          about mobile app development or marketing.
          <br><br>
          If you’re intelligent and highly ambitious, we want to talk to you!
        </p>
      </div>
      <div class="col-md-2"></div>
    </div>

  </div>
</div>
<div class="container" >
  <h2 style="text-align: center;padding: 70px;font-size: 45px;">Enhance Your Career With Us!</h2>
  <div class="row" style="padding: 8px;">
    <div class="col-md-3" style="padding: 30px 0 30px 0;">
      <a href="#">
        <img src="img/34.jpg" alt="" style="width: 100%;">
      </a>
      <h3 style="font-family: 'Aver Bold';">Our Company Values</h3>
      <p style="font-size: 16px;">
        We practice values that enable us to flourish and achieve our fullest potential.

        <br><br>
        <a style="color: black;text-decoration: underline;font-family: 'BrandonText-Bold';"
           target="_blank" href="https://business.facebook.com/media/set/?set=a.910488845771444.1073741859.206281072858895&type=1&l=f4121f79b7">
          View Paktor’s Company Values</a>
      </p>
    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-3" style="padding: 30px 0 30px 0;">
      <a href="#">
        <img src="img/35.jpg" alt="" style="width: 100%;">
      </a>
      <h3 style="font-family: 'Aver Bold';">Working at Paktor</h3>
      <p style="font-size: 16px;">
        Hear from actual experiences of our very own people on what exactly goes down in Paktor.
        <br><br>
        <a style="color: black;text-decoration: underline;font-family: 'BrandonText-Bold';" target="_blank" href="https://business.facebook.com/media/set/?set=a.913219665498362.1073741861.206281072858895&type=1&l=4a1048efda">Read More</a>
      </p>
    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-3" style="padding: 30px 0 30px 0;">
      <a href="#">
        <img src="img/36.jpg" alt="" style="width: 100%;">
      </a>
      <h3 style="font-family: 'Aver Bold';">View Jobs</h3>
      <p style="font-size: 16px;">
        Browse through our list of available positions and begin your journey with us!
        <br><br>
        <a style="color: black;text-decoration: underline;font-family: 'BrandonText-Bold';" target="_blank" href="https://www.techinasia.com/companies/paktor" target="_blank">View Job Opportunities</a>
      </p>
    </div>
  </div>
</div>

<div style="background: #ebeef4;text-align: center;padding: 30px 0 1px 0;" id="p4" data-scrollspy-broadcast>
  <h2 style="font-size: 45px;">Our Company Values</h2>
</div>
<uib-carousel class="our-values our-labs">
  <uib-slide>
    <div style="background: #ebeef4;">
      <div class="container" style="text-align: left;">
        <div class="row">
          <div class="col-sm-3 text-center"><img style="margin-top: 10px;width: 100%;" src="img/37.png"  alt=""/></div>
          <div class="col-sm-8">
            <h2>01. Over Communicate</h2>
            <p style="font-size: 18px;">
              You can’t read other people’s minds and no one can read yours.
              <br><br>
              The only way to be on the same page is to
              talk. If you have a question, ask. If you’re not sure, ask. If you want to know what the other person is
              doing, ask. If you think someone might be interested in your work, tell them. If you’re not sure if your
              work is relevant to what you are trying to achieve, share it.
              <br><br>
              When others share, you will learn and vice
              versa.
            </p>
          </div>
          <div class="col-sm-1"></div>
        </div>
      </div>
    </div>
  </uib-slide>
  <uib-slide>
    <div style="background: #ebeef4;">
      <div class="container" style="text-align: left;">
        <div class="row">
          <div class="col-sm-3 text-center"><img style="margin-top: 10px;width: 100%;" src="img/38.png"  alt=""/></div>
          <div class="col-sm-8">
            <h2>02. Act Global</h2>
            <p style="font-size: 18px;">
              The internet doesn’t have borders, we don’t either.
              <br><br>
              We work in a global team, respect the diversity
              amongst us. We’re not competing locally, we’re competing with the world. This means measuring ourselves
              against the best in the world.
              <br><br>
              We source from the world’s best talents, compete in markets worldwide and
              look for solutions from the world’s best practitioners.
            </p>
          </div>
          <div class="col-sm-1"></div>
        </div>
      </div>
    </div>
  </uib-slide>
  <uib-slide>
    <div style="background: #ebeef4;">
      <div class="container" style="text-align: left;">
        <div class="row">
          <div class="col-sm-3 text-center"><img style="margin-top: 10px;width: 100%;" src="img/39.png"  alt=""/></div>
          <div class="col-sm-8">
            <h2>03. Never Stop Growing</h2>
            <p style="font-size: 18px;">
              Constantly challenge and push yourself and your team.
              <br><br>
              This is a place for growth, we will support you. If
              you don’t fail once in awhile, you’re not trying hard enough. If work feels stale, you’ve stopped growing.
              There is always room to grow. Get better at what you do, learn what others are doing, help your teammates
              get better.
              <br><br>
              When you grow, the company will grow.
            </p>
          </div>
          <div class="col-sm-1"></div>
        </div>
      </div>
    </div>
  </uib-slide>
  <uib-slide>
    <div style="background: #ebeef4;">
      <div class="container" style="text-align: left;">
        <div class="row">
          <div class="col-sm-3 text-center"><img style="margin-top: 10px;width: 100%;" src="img/40.png"  alt=""/></div>
          <div class="col-sm-8">
            <h2>04. Be Data Driven</h2>
            <p style="font-size: 18px;">
              If you can measure it, do it. If you’re not sure, experiment.
              <br><br>
              By constantly testing, learning, and
              optimizing, the company becomes a living laboratory. If your opinion goes against data, change your
              opinion. Decisions are not feelings, dice or astrology. Hope is not a strategy, luck is not a factor. If
              you can’t measure and there is no data available, take the plunge.
              <br><br>
              For everything else, use the available
              data.
            </p>
          </div>
          <div class="col-sm-1"></div>
        </div>
      </div>
    </div>
  </uib-slide>
  <uib-slide>
    <div style="background: #ebeef4;">
      <div class="container" style="text-align: left;">
        <div class="row">
          <div class="col-sm-3 text-center"><img style="margin-top: 10px;width: 100%;" src="img/41.png"  alt=""/></div>
          <div class="col-sm-8">
            <h2>05. It’s Day One</h2>
            <p style="font-size: 18px;">
              Live every day like it’s Day One of the company.
              <br><br>
              The future is up to us to build, nothing is set in stone.
              Current ways of thinking and doing can and will change. Things can get dirty, not everything is nice and
              in its place, things may break.
              <br><br>
              The path ahead is long and we just started. There is still much to do.
            </p>
          </div>
          <div class="col-sm-1"></div>
        </div>
      </div>
    </div>
  </uib-slide>
</uib-carousel>
<div style="background: #ebeef4;height: 50px;"></div>
<div class="container">
  <div class="text-center" style="padding: 40px 0 20px 0;">
    <h1>Working at Paktor</h1>
    <h3 style="font-family: 'Aver Bold';font-size: 18px;"> What’s it like to work at Paktor?</h3>
    <p style="font-size: 16px;">See what our team has to say about the working environment and how things are run around here.</p>
  </div>
  <div class="row staff" >
    <div class="col-md-4 text-center">
      <a href="https://business.facebook.com/media/set/?set=a.913219665498362.1073741861.206281072858895&type=1&l=4a1048efda" target="_blank">
      <img src="img/42.jpg" alt="">
      <h3>
        Kaile, Relationship Manager
      </h3>
      </a>
    </div>
    <div class="col-md-4 text-center">
      <a href="https://business.facebook.com/media/set/?set=a.913219665498362.1073741861.206281072858895&type=1&l=4a1048efda" target="_blank">
      <img src="img/43.jpg" >
      <h3>
        Darryl, Marketing
      </h3>
      </a>
    </div>
    <div class="col-md-4 text-center">
      <a href="https://business.facebook.com/media/set/?set=a.913219665498362.1073741861.206281072858895&type=1&l=4a1048efda" target="_blank">
      <img src="img/44.jpg" alt="">
      <h3>
        Vanessa, Human Resource
      </h3>
      </a>
    </div>
    <div class="col-md-4 text-center">
      <a href="https://business.facebook.com/media/set/?set=a.913219665498362.1073741861.206281072858895&type=1&l=4a1048efda" target="_blank">
      <img src="img/45.jpg" alt="">
      <h3>
        Lynn, Design
      </h3>
      </a>
    </div>
    <div class="col-md-4 text-center">
      <a href="https://business.facebook.com/media/set/?set=a.913219665498362.1073741861.206281072858895&type=1&l=4a1048efda" target="_blank">
      <img src="img/46.jpg" alt="">
      <h3>
        Vipin, Data
      </h3>
      </a>
    </div>
    <div class="col-md-4 text-center">
      <a href="https://business.facebook.com/media/set/?set=a.913219665498362.1073741861.206281072858895&type=1&l=4a1048efda" target="_blank">
      <img src="img/47.jpg" alt="">
      <h3>
        Linh Pham, Marketing
      </h3>
      </a>
    </div>


  </div>
</div>

<div class="jumbotron" style="padding-top:150px;padding-bottom: 150px;">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="text-center" style="padding: 0px 0 20px 0;">
          <h1>View Jobs</h1>
          <h3 style="font-family: 'Aver Bold';font-size: 20px;">Exciting Career Opportunities Awaits! </h3>
          <p style="padding-top:20px; font-size:20px;font-family:'BrandonText-Thin_0'; font-weight:900;margin-bottom: 80px;">
            Curious to find out the positions available and to look for the one that fits you perfectly? <br>Go ahead, browse away!
          </p>
          <a href="https://www.techinasia.com/companies/paktor" target="_blank">
            <button type="button" class="btn btn-default btn1">
              VIEW OUR JOBS
            </button>
          </a>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>