<div class="jumbotron" id="content" style="padding-top:150px;padding-bottom: 170px;">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1 style="font-size:60px;">Let’s go GaiGai!</h1>
                <p style=" padding-top:20px; font-size:24px;font-family:'BrandonText-Thin_0'; font-weight:900; margin-bottom: 0.5px;">
                    GaiGai is the new offline dating agency in Singapore that is wholly owned by Paktor. Headquartered in the sunny shores of Singapore, GaiGai serves to offer a physical channel of connecting people, particularly singles.
                    <br><br>
                    Forget awkward meet ups, GaiGai seeks to bring exciting events to the table. With our strong partnerships with some of the finest hospitality and lifestyle organisations, regular social events are organized for singles to meet. From fun activities to romantic dining, our range of events makes it easy for singles to get together and mingle.
                    <br><br>
                    GaiGai provides modern matchmaking services which are focused on casual settings and great company.
                </p>

            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" style="padding-top: 60px;">
                <a href="https://letsgaigai.com/#/profile/step1/">
                    <button type="button" class="btn btn-default btn1">
                        SIGN UP AS MEMBER
                    </button>
                </a>
            </div>
            <div class="col-md-4" style="padding-top: 60px;">
                <a href="https://www.letsgaigai.com/#/events">
                    <button type="button" class="btn btn-default btn1">
                        JOIN OUR EVENTS
                    </button>
                </a>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
