<div class="jumbotron" style="padding-bottom: 0px;" ng-controller="ModalVideoCtrl as video">
    <div class="container" ng-controller="StoryCtrl">
        <div class="row" style="margin-bottom: 60px;">
            <h1 class="text-center" style="font-size:60px;padding: 0 0 34px;">Our successful stories</h1>
            <div class="col-md-6">
                <div class="col-sm-6" ng-repeat="s in stories" ng-mouseover="changeStory(s)">
                    <div class="card">
                        <img src="http://placehold.it/80x80" alt="">
                        <div>
                            {{s.story.substr(0,70)}}...
                        </div>
                        <p>{{s.name}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-sm-12">
                    <div class="one-story">
                        <img src="http://placehold.it/200x200" alt="">
                        <div ng-bind-html="currentStory.story">
                        </div>
                        <p>{{currentStory.name}}</p>
                        <a href="javascript:void(0);" ng-click="video.open()">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/ng-template" id="myModalContent.html">
            <div style="position: relative;">
        <span ng-click="videoInstance.close()" class="glyphicon glyphicon-remove"
              style="cursor: pointer;position: absolute;z-index: 100;right: 10px;font-size: 25px;top: 10px;background: white;border-radius: 50%;"></span>
                <div class="success-story-dialog">
                    <img src="http://placehold.it/350x430" alt="" class="pull-left" style="margin-right: 25px;">
                    <div style="padding-top: 25px;">
                        <img src="http://placehold.it/140x140" class="pull-left" alt="" style="margin-right: 20px;">
                        <p style="font-size: 30px;color: grey;padding: 30px;">{{currentStory.name}}</p>
                        <div ng-bind-html="currentStory.story">
                        </div>
                    </div>
                </div>
            </div>
        </script>
    </div>
</div>
<div class="container-fruit ">
    <div class="story_start">
        <h1 style="font-size:60px;margin-top: 0px;padding: 50px 0 20px 0;">How about you?</h1>
        <p>Share your beautiful stories with Paktor!</p>
        <a href="javascript:void(0);">START NOW!</a>
    </div>
</div>

