<div class="jumbotron" id="content" style="padding-top:150px;padding-bottom: 170px;">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1 style="font-size:60px;">Hãy đến với Gaigai!</h1>
                <p style=" padding-top:20px; font-size:30px;font-family:'BrandonText-Thin_0'; font-weight:900; margin-bottom: 0.5px;">Một dịch vụ hẹn hò riêng biệt của Paktor.</p>
                <p style="font-size:30px; font-family:'BrandonText-Thin_0'; font-weight:900;">Chọn Gai Gai để bắt đầu câu chuyện tình yêu của bạn với chúng tôi. </p>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" style="padding-top: 20px;">
                <a href="https://letsgaigai.com/#/profile/step1/">
                    <button type="button" class="btn btn-default btn1">
                        THỬ GAI GAI
                    </button>
                </a>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</div>
