<div class="scroll-nav-container hidden-sm hidden-xs" style="height: 145px;">
    <div class="scroll-nav-item-container" data-scrollspy-listen="p1" ng-click="go('p1')">
        <div class="scroll-nav-item"></div>
    </div>
    <div class="scroll-nav-item-container" data-scrollspy-listen="p3" ng-click="go('p3')">
        <div class="scroll-nav-item"></div>
    </div>
    <div class="scroll-nav-item-container" data-scrollspy-listen="p4" ng-click="go('p4')">
        <div class="scroll-nav-item"></div>
    </div>
    <div class="scroll-nav-item-container" data-scrollspy-listen="p5" ng-click="go('p5')">
        <div class="scroll-nav-item"></div>
    </div>
    <div class="scroll-nav-item-container" data-scrollspy-listen="p6" ng-click="go('p6')">
        <div class="scroll-nav-item"></div>
    </div>
</div>

<!-- /.container -->
<div class="jumbotron about" id="p1" data-scrollspy-broadcast>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 style="font-size:60px; ">Por que, como e onde</h2>

                <p style="  padding-top:20px; font-size:25px;font-family:'BrandonText-Thin_0'; font-weight:900;"> Paktor foi fundada em julho de 2013 com a missão de conectar pessoas na Ásia através de plataformas baseadas na tecnologia. Com uma das maiores bases de dados de usuários da região, mais de 6 milhões, temos facilitado a 5 bilhões de perfis até à data. Graças a sua própria tecnologia e ter tido a iniciativa na região o Paktor tornou-se o aplicativo de maior sucesso entre solteiros no Sudeste Asiático e Taiwan.
                </p>

                <div class="see-more" style="margin-bottom: 10px;">
                    <img src="img/mouseanimation.gif" alt="" style="height: 26px;margin-right: 10px;"/>
                    <!--scroll down to see more-->
                </div>
            </div>
        </div>
    </div>
</div>
<div style="background: #f0f1f7;" class="about" data-scrollspy-broadcast id="p2">
    <h4 style="font-family:Brandon Text Medium;color:#464963; text-align: center; margin:0px;padding-top:40px; ">Como se nos vê</h4>
    <uib-carousel>
        <uib-slide>
            <div style="padding-top:30px; background-color:#f0f1f7;padding-bottom: 50px;">
                <img src="img/v1.png" class="img-responsive" alt=""/>
            </div>
        </uib-slide>
        <uib-slide>
            <div style="padding-top:50px; background-color:#f0f1f7;padding-bottom: 50px;">
                <img src="img/v2.png" class="img-responsive" alt=""/>
            </div>
        </uib-slide>
        <uib-slide>
            <div style="padding-top:50px; background-color:#f0f1f7;padding-bottom: 50px;">
                <img src="img/v3.png" class="img-responsive" alt=""/>
            </div>
        </uib-slide>
    </uib-carousel>
</div>
<div class="container" data-scrollspy-broadcast id="p3">
    <h2 style="text-align: center;padding: 70px;font-size: 45px;">Sobre nós</h2>
    <div class="row" style="padding-bottom: 60px;">
        <div class="col-md-6 text-center">
            <img src="img/logo2.png" alt=""/>
        </div>
        <div class="col-md-6" style="font-size: 18px;padding: 30px;">
            Paktor foi fundada em julho de 2013 com a missão de conectar pessoas na Ásia através de plataformas baseadas na tecnologia. Com uma das maiores bases de dados de usuários da região, mais de 6 milhões, temos facilitado a 5 bilhões de perfis até à data. Graças a sua própria tecnologia e ter tido a iniciativa na região o Paktor tornou-se o aplicativo de maior sucesso entre solteiros no Sudeste Asiático e Taiwan.
        </div>
    </div>
</div>
<div style="background: #ebeef4;text-align: center;padding: 70px;" id="p4" data-scrollspy-broadcast>
    <h2 style="font-size: 45px;">Nossos valores</h2>
</div>
<uib-carousel class="our-values ">
    <uib-slide>
        <div style="background: #ebeef4;">
            <div class="container" style="text-align: left;">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2 text-center"><img style="margin-top: 10px;" src="img/04.png" width="120" alt=""/></div>
                    <div class="col-sm-8">
                        <h2>Anonimato</h2>
                        <p style="font-size: 18px;">
                            Paktor trabalha em um conceito duplo de sigilo. Nós só faremos um presente quando duas pessoas se gostam mutuamente. Quando você curte alguém, essa pessoa não vai saber até que ele / ela da um like a você de volta. Isso tira qualquer tipo de tensão, o medo a rejeição após um "like" Nós levamos muito a serio a sua privacidade.
                        </p>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
        </div>
    </uib-slide>
    <uib-slide>
        <div style="background: #ebeef4;">
            <div class="container" style="text-align: left;">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2 text-center"><img style="margin-top: 10px;" src="img/03.png" width="120" alt=""/></div>
                    <div class="col-sm-8" >
                        <h2>Localidade</h2>
                        <p style="font-size: 18px;">
                            Paktor é uma rede contatos de pessoas interessantes ao teu redor. Nós pensamos que é aonde toda a diversão acontece.
                        </p>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
        </div>
    </uib-slide>
    <uib-slide>
        <div style="background: #ebeef4;">
            <div class="container" style="text-align: left;">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2 text-center"><img style="margin-top: 10px;" src="img/02.png" width="120" alt=""/></div>
                    <div class="col-sm-8">
                        <h2>Facilidade de uso</h2>
                        <p style="font-size: 18px;">
                            Paktor é fácil de usar e divertido. Nosso foco principal é fazer encontros de uma forma simples e sem problemas. Baixe a app, inscreva-se. Você estará pronto para começar em menos de 30 segundos. Não faz falta passar horas na elaboração de um perfil para abranger quem é você como pessoa!
                        </p>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
        </div>
    </uib-slide>
</uib-carousel>
<div style="background: #ebeef4;padding: 30px;text-align: center;font-size: 30px;font-style: italic;font-weight: 400;padding: 70px;">
</div>

<div class="jumbotron" id="p5" data-scrollspy-broadcast style="background-color: white;">
    <div class="container" style="background-color:white;padding-bottom: 60px;">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center"
                    style=" color:#403f43; font-size:60px;padding: 35px 0 50px 0;">
                    Mais notícias</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center">
                <img src="img/logo2.png" style="padding-top: 50px;" width="150"/>
            </div>
            <div class="col-md-9 news">
                <p class="date">SINGAPORE, 14 July 2015</p>
                <h2 class="title">Paktor set to be the biggest social dating brand in Asia with $10 million new funding</h2>
                <p class="content">
                    Paktor has doubled its user base across Asia to over five million in six months.
                    Investors in the Series-B funding include Majuven, Convergence Ventures and returning investor Vertex Venture Holdings.
                    Usage of the mobile app has skyrocketed in the last six months to over half a billion swipes and 12 million matches a month
                </p>
                <a class="read-more" href="http://www.channelnewsasia.com/news/business/singapore/dating-app-paktor/1981750.html">
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> READ MORE</a>
            </div>
        </div>



        <!--No2 Article-->
        <div ng-show="p1" class="row news">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p class="date">22 March 2015 CNN Money</p>
                <h2 class="title">4 ways Asian dating
                    apps are anti-Tinder</h2>

                <p class="content">
                    Spotted a cutie in Singapore,
                    but tongue-tied? No problem -- just grab your phone,
                    and download one of the many new dating apps for singles in Asia.</p>
                </p>
                <a href="http://money.cnn.com/2015/03/22/technology/asia-dating-apps-tinder/"
                   class="read-more">
				<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> READ MORE</a>
            </div>
            <div class="col-md-1"></div>
        </div>

        <!--No3 Article-->
        <div ng-show="p1" class="row news">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p class="date">24 March
                    2015 Bloomberg</p>
                <h2 class="title">Finding the Perfect
                    Match on Mobile</h2>

                <p class="content">
                    Paktor Co-Founder and CEO
                    Joseph Phua discusses his mobile dating app that helps people<br>
                    find the right match, who's using the application and where he sees opportunity with<br>
                    Bloomberg's Rishaad Salamat on "Trending Business."
                </p>
                <a href="http://www.bloomberg.com/news/videos/2015-03-24/finding-the-perfect-match-on-mobile"
                   class="read-more">
				<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> READ MORE</a>
            </div>
            <div class="col-md-1"></div>
        </div>
        <!--No4 Article-->
        <div ng-show="p1" class="row news">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p class="date">18 November 2014 Techcrunch</p>
                <h2 class="title">With $5M In Funding, Tinder-Like Paktor Wants To Get Southeast Asia Using
                    Dating Apps</h2>

                <p class="content">
                    When it comes to mobile dating apps, Tinder defines the market. The startup, which sees more
                    than 600 million swipes per day from users, pretty much owns its space in North America, but
                    things are different in other parts of the world. Paktor, a Singapore-based company, believes it
                    has the answer for Southeast Asia, and it has just announced a $3 million-plus funding round to
                    build out its vision for mobile dating.........
                </p>
                <a href="http://techcrunch.com/2014/11/17/with-5m-in-funding-tinder-like-paktor-wants-to-get-southeast-asia-using-dating-apps/"
                   class="read-more">
				<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> READ MORE</a>
            </div>
            <div class="col-md-1"></div>
        </div>
        <!--No5 Article-->
        <div ng-show="p1" class="row news">
            <div class="col-md-1"></div>
            <div class="col-md-10"  >
                <p class="date">18 November 2014 Tech in
                    Asia </p>

                <h2 class="title">Paktor winning in Southeast Asia, gets funding from Temasek subsidiary
                    Vertex</h2>

                <p class="content">
                    Enough with the flirting. Vertex Venture, a venture capital subsidiary of Singapore sovereign
                    wealth fund Temasek Holdings, has invested in Paktor, a Singapore-based dating app with over 1.5
                    million registered users.
                </p>
                <a href="https://www.techinasia.com/temasek-holdings-subsidiary-vertex-invests-dating-app-paktor/"
                   class="read-more">
				<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> READ MORE</a>
            </div>
            <div class="col-md-1"></div>
        </div>
        <!--No6 Article-->
        <div ng-show="p2" class="row news">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p class="date">17 July 2015 South China
                    Morning Post</p>
                <h2 class="title">Hijabs not hookups: SE Asian dating apps woo investors with local
                    expertise</h2>
                <p class="content">
                    PManila office worker Catherine Anunciacion, 28, wanted new friends so she joined Peekawoo,
                    a dating app made for women that emphasises fun and companionship - and nothing more....
                </p>
                <a href="http://www.scmp.com/tech/apps-gaming/article/1840773/hijabs-not-hookups-se-asia-dating-apps-woo-investors-local"
                   class="read-more">
				<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> READ MORE</a>
            </div>
            <div class="col-md-1"></div>
        </div>
        <!--No7 Article-->
        <div ng-show="p2" class="row news">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p class="date">22 May 2015 High Net-Worth</p>
                <h2 class="title">Joseph Phua: Out of Love to Top of Dating Game (Co-Founder & CEO,Paktor)</h2>

                <p class="content">
                    Does life mirror swiping?” I ask Joseph Phua. “Yes, people make a decision about you within 5seconds
                    of meeting,”......
                </p>
                <a href="http://www.hnworth.com/article/2015/05/21/joseph-phua-out-of-love-to-top-of-dating-game-co-founder-ceo-paktor/"
                   class="read-more">
				<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> READ MORE</a>
            </div>
            <div class="col-md-1"></div>

        </div>
        <!--No8 Article-->
        <div ng-show="p2" class="row news">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p class="date">5 July 2015 The Straits
                    Times</p>
                <h2 class="title">Win-win way to get rich: Help others make money</h2>
                <p class="content">
                    Passive investing holds no appeal for entrepreneur Joseph Phua, who is very hands-on when it
                    comes to managing his money.........
                </p>
                <a href="http://www.straitstimes.com/business/invest/win-win-way-to-get-rich-help-others-make-money"
                   class="read-more">
				<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> READ MORE</a>
            </div>
            <div class="col-md-1"></div>
        </div>

        <!--No9 Article-->
        <div ng-show="p2" class="row news">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p class="date">29 September 2015 Mashable</p>
                <h2 class="title">Survey finds most Singaporean women don't want to date bald men</h2>
                <p class="content">
                    Paktor, a local dating app, just released results of a survey done across 2,845 of its (presumably
                    heterosexual) users.<br>
                    The users were between 18 and 50 years of age, and there was a nearly equal split between men and
                    women.
                </p>
                <a href="http://mashable.com/2015/09/29/singapore-women-dating/#AzqTVRtS1gqr"
                   class="read-more">
				<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> READ MORE</a>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div ng-hide="p1&&p2" class="row">
            <div class="col-md-12" style="padding-top: 40px;">
                <button type="button" class="btn btn-default show-more" ng-click="showMore()">
                    Mostre mais
                </button>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron" data-scrollspy-broadcast id="p6" style="background: #403f43;">
    <div class="text-center">
        <h2 style="font-size: 45px;font-style: italic;padding: 0 0 30px; color: #6c6f7d;">Onde principalmente estamos</h2>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6"><img src="img/BI3.png" style="width: 100%;" alt=""/></div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>