
<div class="jumbotron" id="content" style="padding-top:150px;padding-bottom: 150px;">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1 style="font-size:60px;">Trabalhe conosco</h1>
                <p style="padding-top:20px; font-size:25px;font-family:'BrandonText-Thin_0'; font-weight:900;">
                    Paktor está crescendo rapidamente e está sempre à procura de pessoas motivadas e talentosas que são apaixonadas pelo desenvolvimento de aplicativos ou do marketing. Se você é inteligente e altamente ambicioso, queremos falar com você!
                </p>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10" style="padding-top: 20px;">
			<a href="https://www.techinasia.com/companies/paktor" >
                <button type="button" class="btn btn-default btn1">
                    Ver nossas ofertas de trabalho
                </button>
			</a>
            </div>
        </div>
    </div>
</div>
