<div class="jumbotron about">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 style="font-size:60px; ">The Secret of Love</h2>

                <p style="  padding-top:10px; font-size:25px;font-family:'BrandonText-Thin_0'; font-weight:900;">
                    Within 2 years, more than over 6 million matches have been made on Paktor. Let’s check out our blog to get updated on the best dating tips!</p>

                <div class="see-more" >
                    <img src="img/mouseanimation.gif" alt="" style="height: 26px;margin-right: 10px;"/>
                    <!--scroll down to see more-->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row news">
        <div class="col-md-10 col-md-offset-1" style="padding-top: 60px; padding-bottom:40px;">
            <p class="date">MAY 26, 2015</p>
            <img class="img-responsive" src="img/blogimage.jpg">

            <h2 class="title">7 Scientifically-Proven Physical Attributes That Attract Men.<br>
                You Don't Need To Be Born With Them</h2>

            <p class="content">
                Whether you have a beau you want to impress or want to up your chances at the dating scene,
                <br>you'd want to read these scientists-backed tips!......
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-md-offset-1" style="padding-bottom: 100px;">
            <a href="http://blog.gopaktor.com/category/singapore/#.VhzFq_mqpBe"
               style="font-family:'BrandonText-Thin_0'; font-weight:900;">
                <button type="button" class="btn btn-default show-more"
                        style="">
                    SHOW MORE
                </button>
            </a>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
