
<div class="jumbotron" id="content" style="padding-top:150px;padding-bottom: 150px;">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1 style="font-size:60px;">당신의 커리어를 향상시키세요.</h1>
                <p style="padding-top:20px; font-size:25px;font-family:'BrandonText-Thin_0'; font-weight:900;">
                    팍토르는 빠르게 커나가고 있으며, 모바일 어플리케이션 개발과 마케팅에 대한 열정을 가진 의욕적이고 재능있는 사람들을 찾고 있습니다. 총명하고 의욕적인 사람이라면 누구나 지원하세요!
                </p>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10" style="padding-top: 20px;">
			<a href="http://paktor.workable.com/" >
                <button type="button" class="btn btn-default btn1">
                    직군
                </button>
			</a>
            </div>
        </div>
    </div>
</div>
