
<div class="jumbotron" id="content" style="padding-top:150px;padding-bottom: 150px;">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1 style="font-size:60px;">도전하세요!.</h1>
                <p style="padding-top:20px; font-size:25px;font-family:'BrandonText-Thin_0'; font-weight:900;">
                    매년 놀랄만한 성장으로 글로벌 소셜 플랫폼을 <br>
                    이끌어가고 있는 팍토르에서 함께 성장할 동료를 찾습니다.
                </p>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10" style="padding-top: 20px;">
			<a href="https://www.techinasia.com/jobs?query=gaigai" >
                <button type="button" class="btn btn-default btn1">
                    채용공고
                </button>
			</a>
            </div>
        </div>
    </div>
</div>
