<div class="jumbotron" id="content" style="padding-top:150px;padding-bottom: 170px;">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1 style="font-size:60px;">오프라인 매치메이킹 서비스!</h1>
                <p style=" padding-top:20px; font-size:30px;font-family:'BrandonText-Thin_0'; font-weight:900; margin-bottom: 0.5px;">팍토르에서는 오프라인 매치메이킹 서비스를 준비 중입니다.
                </p>
                <p style="font-size:30px; font-family:'BrandonText-Thin_0'; font-weight:900;">팍토르에서 진행하는 신규사업을 함께 할 인재를 찾습니다.</p>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" style="padding-top: 20px;">
                <a href="https://www.techinasia.com/jobs/c8997a9b-90a6-49c4-8e96-db87e80ca8cb">
                    <button type="button" class="btn btn-default btn1">
                        신규사업 채용공고
                    </button>
                </a>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</div>
