<div class="jumbotron" id="content" style="padding-top:150px;padding-bottom: 170px;">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1 style="font-size:60px;">가이가이를 해보세요! </h1>
                <p style=" padding-top:20px; font-size:30px;font-family:'BrandonText-Thin_0'; font-weight:900; margin-bottom: 0.5px;">당신에게 꼭 맞는 만남을 위한 팍토르. </p>
                <p style="font-size:30px; font-family:'BrandonText-Thin_0'; font-weight:900;">우리와 당신의 러브스토리를 만들어보세요.</p>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" style="padding-top: 20px;">
                <a href="https://letsgaigai.com/#/profile/step1/">
                    <button type="button" class="btn btn-default btn1">
                        가이가이 해보기
                    </button>
                </a>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</div>
