
<div class="jumbotron" id="content" style="padding-top:150px;padding-bottom: 150px;">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1 style="font-size:60px;">Kembangkan Kerjaya Anda</h1>
                <p style="padding-top:20px; font-size:25px;font-family:'BrandonText-Thin_0'; font-weight:900;">
                    Paktor sedang berkembang dengan sangat pesat dan kami sentiasa mencari para individu yang bermotivasi dan berbakat yang mempunyai passion mengenai pembangunan aplikasi mobile atau marketing. Jika Anda smart dan berambisi, kami ingin bercakap dengan Anda!
                </p>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10" style="padding-top: 20px;">
			<a href="http://paktor.workable.com/" >
                <button type="button" class="btn btn-default btn1">
                    LIHAT DAFTAR PEKERJAAN
                </button>
			</a>
            </div>
        </div>
    </div>
</div>
