<div class="jumbotron" id="content" style="padding-top:150px;padding-bottom: 170px;">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1 style="font-size:60px;">Jom ke Datesmith!
                    </h1>
                <p style=" padding-top:20px; font-size:30px;font-family:'BrandonText-Thin_0'; font-weight:900; margin-bottom: 0.5px;">Datesmith adalah agensi kencan luar talian yang baru di Malaysia yang dimiliki sepenuhnya oleh Paktor. Beribu pejabat di pantai yang cerah di Malaysia, Datesmith menawarkan saluran fizikal untuk menghubungkan orang, khususnya perseorangan.
                    <br>
                    Lupakan pertemuan yang canggung, Datesmith berusaha membawa peristiwa menarik ke meja. Dengan perkongsian kukuh kami dengan beberapa organisasi perhotelan dan gaya hidup yang terbaik, acara sosial teratur diadakan untuk perseorangan untuk bertemu. Dari aktiviti yang menyeronokkan untuk makan romantis, pelbagai acara kami memudahkan para perseorangan untuk berkumpul dan bergaul.
                    <br>
                    Daftar sekarang untuk membuat profil percuma dengan kami.
                </p>

            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" style="padding-top: 20px;">
                <a href="https://www.mydatesmith.com/#/home">
                    <button type="button" class="btn btn-default btn1">
                        COBA Datesmith
                    </button>
                </a>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</div>
