
<div class="jumbotron" id="content" style="padding-top:150px;padding-bottom: 150px;">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1 style="font-size:60px;">เสริมสร้างอาชีพของคุณ</h1>
                <p style="padding-top:20px; font-size:25px;font-family:'BrandonText-Thin_0'; font-weight:900;">
                    Paktor กำลังเติบโตอย่างรวดเร็ว และเรามองหาใครก็ตามที่กระตือรือร้น มีความสามารถ และหลงใหลในด้านการพัฒนาแอพฯโทรศัพท์มือถือหรือการตลาด ถ้าคุณเป็นคนมีไหวพริบและความทะเยอทะยาน เราอยากรู้จักคุณค่ะ!
                </p>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10" style="padding-top: 20px;">
			<a href="http://paktor.workable.com/" >
                <button type="button" class="btn btn-default btn1">
                    ดูตำแหน่งงานของเรา
                </button>
			</a>
            </div>
        </div>
    </div>
</div>
