<div style="background: #3d3f57;color: white;">
    <div class="container" style="font-size: 16px;padding: 80px 10px;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">


            <h2 style="font-size: 24px;">Why do I need to sign in using Facebook?
            </h2>

            <p>
                Using Facebook to sign in speeds up the entire registration process. We create a profile for you so that
                you can get started with Paktor in less than 30 seconds. In addition you’ll need to have at least 50
                friends on Facebook to be able to sign up - this security feature protects our users against any fake
                accounts or misappropriation of the app.

                Do you know that we have a ‘Hide from Friends’ function? We take your privacy very seriously and will
                never post anything on Facebook.

            </p>

            <h2 style="font-size: 24px;">How can I change or filter the users I see?
            </h2>

            <p>In the “Home” tab, select “Filters” icon <img src="img/05.png" alt=""/> on the top left hand corner. Here
                you will see a number of options to refine the types of users you see.
            <ol>
                <li>Males and/or Females.</li>
                <li>Hide from friends - your profile will not be shown to any users with whom you are friends on
                    Facebook.
                </li>
                <li>Preferred age: select the age range of users you want to see.</li>
                <li>Filter by Distance - allows you to see only users within the distance you specify on the slider. The
                    slider is in meters up to 999 meters, at which point the scale changes to kilometers up to the
                    maximum distance of 10,000 kilometers. Countries will show up below the distance slider as they come
                    within the range specified on the distance slider.
                </li>
                <li>Filter by Country - allows you to select users from specific countries.</li>

            </ol>
            Only Paktor members can gain access to our advanced filters: filter by height, job, and education level
            </p>

            <h2 style="font-size: 24px;">How can I translate messages in to different languages?
            </h2>

            <p>In the “Home” tab, select "Filters” icon <img src="img/05.png" width="39" alt=""/> . Use the toggle
                button next to "Translate Chats" to turn on this feature. Then when a message from another user comes in
                written in a language other than the language in which you have selected to use, Paktor detects the
                foreign language. You will see a prompt in the chat window, "We detected [foreign language], click to
                translate to [your own language]". When you click the prompt, Paktor shows another prompt "Messages will
                now be translated to [your own language]. Incoming messages in that foreign language will then be
                translated to your own language.
            </p>

            <h2 style="font-size: 24px;">What happens when I swipe left or swipe right?
            </h2>

            <p>If you like a person you swipe right, if you dislike a person you swipe left. Don’t forget that the more
                you swipe, the more matches you will have.</p>

            <h2 style="font-size: 24px;">Where is the “LIKED YOU” tab?
            </h2>

            <p>This tab can be found on the menu bar. Click on it and you will see a feature called VIEWED YOU. Swipe
                left and it will bring you to the LIKED YOU feature.
            </p>

            <h2 style="font-size: 24px;">Where do I enter the promo code to redeem it?
            </h2>

            <p>
                Go to “Home” tab and click to “Point” button: <img src="img/06.png" width="39" alt=""/> . In the “A LA
                CARTE” section, type your “Promo Code” in the box, then click “Redeem”.
            </p>

            <h2 style="font-size: 24px;">What is status pending?

            </h2>

            <p>It takes time for a user to respond to you. When a user hasn’t received your message yet as he or she
                hasn’t logged into Paktor, the message status will be stuck in pending.</p>

            <h2 style="font-size: 24px;">How do I delete my account?
            </h2>

            <p>Go settings <img src="img/05.png" width="39" alt=""/> and scroll all the way to the bottom. There will be
                a delete button. Tap on the delete button and your account and all its history and content will be
                deleted. Do note, once you delete your account, we can’t reinstate it. You will start with a brand new
                account with Paktor if you wish to join Paktor again.
            </p>

            <h2 style="font-size: 24px;">What are “Leaderboards”?

            </h2>

            <p>
                “Popular” - if many people like you or swipe right for you, you are on “Popular” leaderboard.
                <br/> “Most Gifted” - if you find yourself receiving many gifts from other users, do check out if you
                are on the leaderboard for the “Most Gifted”!
                <br/> “Most Generous” - if you are listed on the “Most Generous” leaderboard, this increases your
                profile visibility among the other Paktor users.
                <br/> These leaderboards are updated daily, so you should check them out everyday!
            </p>

            <h2 style="font-size: 24px;">What is Paktor Premium/ Ultimate?

            </h2>

            <p>We understand that user sometimes do want to use a whole suite of features that we offer.
                Become a Premium Member and open up a world of possibilities! Sign up for Premium subscription package
                and get access to features such as:
            </p>
            <ul>
                <li> premium filters like job, education and height</li>
                <li> viewing people who have liked you</li>
                <li> viewing suggested profiles</li>
                <li> receiving daily Paktor points to send gifts and direct messages</li>

            </ul>
            <p>
                There are 1 month, 3 months, 6 months and 12 months subscription packages for you to choose from
                Membership subscription can also be enabled and managed from Paktor Home tab
                Subscription payment will be charged to the iTunes account at confirmation of purchase.
                All packages are auto- renewable subscriptions which means the subscription will be automatically
                renewed when it runs out unless you cancel it at least 24 hours before the end of the current
                subscription period.
                No cancellation of the current subscription is allowed during active subscription period.
            </p>

            <p>If you want even MORE, go for Ultimate Membership and enjoy all the benefits of premium with no limits to
                the number of messages/ gifts sent.</p>

            <h2 style="font-size: 24px;">Guaranteed Match Feature
            </h2>

            <p>If you are too busy to swipe for a match, we now introduce the daily "GUARANTEED MATCH"!
                Under your match list, you will notice a featured user with the "GUARANTEED" sign. Upon approaching him/her with a direct message or a gift, you will be matched immediately.

            </p>
            <p>
                Your "GUARANTEE MATCH" will be refreshed:
                <br/>+ Each day
                <br/>+ Right after you get matched
            </p>

            <p style="color: red;">Paktor Date Guarantee (hot!)
                <br/>We are 100% confident you'll meet someone through Paktor and this is our promise!
                <br/>- Opt in to to the Program and we guarantee you'll go on an actual offline date with someone you meet on Paktor as long as you adhere to our guide.
                <br/>- If you don't go on an actual date, we give you 3 additional months of membership subscription for free!
            (Terms and Conditions Apply: www.gopaktor.com/paktorguarantee)
            </p>


            <h2 style="font-size: 24px;">Why do I have to pay to message someone?
            </h2>

            <p>If you have made a mutual match with somebody by swiping right on a user,  messaging is free. But if you prefer to connect with another user directly without  waiting for a mutual match, you may use Paktor points to send a Direct Request Message.
            </p>


            <h2 style="font-size: 24px;">How to purchase Paktor points?
            </h2>

            <p>Select the token icon on the top right corner of the screen and you will see a range of Paktor point packages. Simply make a selection on any of the price packages and you will be able to purchase them.
            </p>


            <h2 style="font-size: 24px;">How do I cancel my monthly subscription?
            </h2>

            <p>Paktor has no control over subscription as they are all handled by iTunes or Google Play. You would need to log into your iTunes account or Google Play account to cancel subscription yourself.
            </p>


            <h2 style="font-size: 24px;">CONTACT US
            </h2>

            <p>
                Press: <a href="mailto:press@gopaktor.com">press@gopaktor.com</a>
                <br/>Career: <a href="mailto:join@gopaktor.com">join@gopaktor.com</a>
                <br/>Support & Feedback: <a href="mailto:help@gopaktor.com">help@gopaktor.com</a>
            </p>


        </div>
        <div class="col-md-2"></div>
    </div>

</div>
</div>